.section__about {
    // padding: 0 0 50px 0;
    background-color: $color-black;
}

.about {
    display: flex;
    margin-left: 50px;
    margin-top: 17px;
    // flex-direction: column-reverse; //mobile version
    // flex-direction: row-reverse;

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 50%;
        padding: 40px 40px 20px 40px;
        line-height: 1.5;
        font-weight: 200;
        font-size: 1.1em;
        letter-spacing: 1.2px;
        color: $color-grey-light;

    }

    &__name {
        line-height: 1.2;
        text-transform: uppercase;
        margin-top: 45px;
        align-self: right;
        text-align: right;

        & p {    
            letter-spacing: none;
            font-size: .8em;
            letter-spacing: 1.2px;
            font-weight: 400;
        }
    
    }

 /* ABOUT IMG REVEALING ON SCROLL */
    &__photo img {
       @include aboutImgSetings;
        filter: brightness(.2); 
        // filter: brightness(1);  // <-- delete this and uncomment the above for revealing effect 


    }

    &__photo-js img {
       @include aboutImgSetings;
        filter:brightness(1);
    }
}


/* **********  TIMELINE VERTICAL RULER ***********/
.cv {
    background-image: linear-gradient(rgba($color-black, 1), rgba($color-black-bg, .9)),url(../img/mountain-min.jpg);
    // background-image: radial-gradient(rgba($color-black, .1), rgba($color-black, .1)),url(../img/mountain-min.jpg);
    // background-image: radial-gradient(circle, rgba(0, 0, 0, 0.808) 45%, rgb(0, 0, 0) 65%, rgb(0, 0, 0) 85%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 100%), url(../img/mountain-min.jpg);

    background-size:cover;
    background-repeat: none;
}
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: -150px;

    &::after {
        content: '';
        position: absolute;
        width: 2px;
        background-color: $color-primary;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
      }

    & h2 {
        color: $color-primary;
        margin-bottom: 10px;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        font-weight: 400;
    }

    & h3 {
        color: $color-white;
    }

  }
    
  /* CONTAINER AROUND CONTENT */
  .container {
    padding: 0 40px;
    position: relative;
    padding-bottom: 40px;
    background-color: inherit;
    width: 43.5%;

 /* DOTS ON TIMELINE */
    &::after {
      content: '';
      position: absolute;
      width: 15px;
      height: 15px;
      right: -5px;
      background-color: $color-primary;
      border: 2px solid $color-primary;
      top: 20px;
      border-radius: 50%;
      z-index: 1;

    }
  }
  
  /* PLACE CONTAINER TO THE LEFT */
  .left {
    left: 0;
  }
  
  /* PLACE CONTAINER TO THE right */
  .right {
    left: 49.7%;
  }
  
  
  /* FIX DOT ON THE RIGHT SIDE*/
  .right::after {
    left: -7px;
  }
  
  /* CONTENT */
  .content {
    padding: 20px 30px;
    // background-color: $color-white; //for mobile version 
    position: relative;
    border-radius: 6px;
    font-weight: 300;
    color: $color-grey-light;

    & ul {
        margin: 5px 0 0 20px;
    }

    & li:not(:last-child){
        margin-bottom: 5px;

    }
        
    }

.mentors__box {
    margin-left: 55px;
    margin-top: 80px;
    // overflow: hidden;

    & h2 {
        color: $color-white;
    }
}
.mentor {
    color:$color-primary;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 1px;
}
