.section__about {
    background-color: $color-black;
}

.about {
    @include flexCenter;
    padding: 100px 0 100px 0;

    &__text {
        width: 50%;
        max-width: 82ch;
        padding: 100px 40px 20px 2px;
        line-height: 1.6;
        font-weight: 200;
        font-size: 1.2em;
        letter-spacing: 1.2px;
        color: $color-grey-light;

        &::first-letter {
           @include firstLetter;
        }
    }

    &__name {
        line-height: 1.2;
        text-transform: uppercase;
        margin-top: 20px;
        text-align: right;

        & p {
            letter-spacing: none;
            font-size: .8em;
            letter-spacing: 1.2px;
            font-weight: 400;
        }

    }

/* ===== IMG REVEALING ON SCROLL ===== */
    &__photo {
        @include imgSetings;
        filter: brightness(.05);
    }

    &__photo-js {
        @include imgSetings;
        filter: brightness(1);
    }
/* ===================================== */
   
    &__video {
        margin-top: 100px;
        position: relative;
        padding-bottom: 66.25%;
        height: 0;
        overflow: hidden;
    }

    &__video iframe {
        position: absolute;
        top: 0;
        left: 10%;
        width: 80%;
        height: 60%;
        opacity: 0.7;
        transition: 1s;

        &:hover {
            opacity: 1;
        }
    }
}

.signature {
    width: 160px;
    margin-top: -35px;
}

/* ==========  TIMELINE VERTICAL RULER ========== */ 
.cv {
    background-image: radial-gradient(rgba(0, 0, 0, 0.753) 40%, 
                    rgb(0, 0, 0) 55%, 
                    rgb(0, 0, 0) 85%, 
                    rgb(0, 0, 0) 50%, 
                    rgb(0, 0, 0) 100%), 
                    url(../img/leon2-min.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.timeline {
    position: relative;
    max-width: 85rem;
    margin: 0 auto;
    margin-top: 180px;
    font-size: 1.1em;

    &::after {
        content: '';
        position: absolute;
        width: 2px;
        background-color: $color-primary;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }

    & h2 {
        color: $color-primary;
        margin-bottom: 10px;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        font-weight: 400;
    }

    & h3 {
        color: $color-white;
    }
}

/* ========== CONTAINER AROUND CONTENT ========= */
.container {
    padding: 0 40px;
    position: relative;
    padding-bottom: 40px;
    background-color: inherit;
    width: 43.5%;

    /* DOTS ON TIMELINE */
    &::after {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        right: -5px;
        background-color: $color-primary;
        border: 2px solid $color-primary;
        top: 20px;
        border-radius: 50%;
        z-index: 1;
    }
}

/* PLACE CONTAINER TO THE LEFT */
.left {
    left: 0;
    width: 50%;
}

/* PLACE CONTAINER TO THE right */
.right {
    left: 49.7%;
}

/* FIX DOT ON THE RIGHT SIDE*/
.right::after {
    left: -7px;
}

/* CONTENT */
.content {
    padding: 20px 30px;
    position: relative;
    font-weight: 300;
    color: $color-grey-light;

    & ul {
        margin: 5px 0 0 20px;
    }

    & li:not(:last-child) {
        margin-bottom: 5px;
    }

}

.align-right {text-align: right;}
.li-dots-right {direction: rtl; unicode-bidi: embed;}

/* **********  ARTIST STATEMENT ***********/
.statement__box {
    margin-top: -200px;
    padding-bottom: 100px;
}

.artist__statement {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.statement__content {
    width: 40%;
    margin-top: 85px;
}

/* ===== ARTIST STATEMENT IMG REVEALING ON SCROLL ===== */
.statement__img {
 @include statementImg;
    filter: brightness(.05);
}

.js-statement__img {
    @include statementImg;
    filter: brightness(1);
}
/* ============================ */

.statement {
    &__text {
        padding: 0 0 0 30px;
        line-height: 1.6;
        font-weight: 200;
        font-size: 1.2em;
        letter-spacing: 1.2px;
        max-width: 70ch;
        color: $color-grey-light;
    }
    &__text:first-child::first-letter {
        @include firstLetter;
    }
}

.blockquote {
    line-height: 1.6;
    position: relative;

    &::before {
        position: absolute;
        content: "\201C";
        font-size: 8em;
        color: $color-primary;
        display: block;
        top: -40%;
        left: -3%;
    }

}
