.section__about {
    background-color: $color-black;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    // margin-left: 50px;
    // flex-direction: column-reverse; //mobile version
    // flex-direction: row-reverse;

    &__text {
        width: 50%;
        padding: 60px 40px 20px 2px;
        line-height: 1.6;
        font-weight: 200;
        font-size: 1.1em;
        letter-spacing: 1.2px;
        color: $color-grey-light;

    }

    &__name {
        line-height: 1.2;
        text-transform: uppercase;
        margin-top: 20px;
        text-align: right;

        & p {
            letter-spacing: none;
            font-size: .8em;
            letter-spacing: 1.2px;
            font-weight: 400;
        }

    }

    /* ABOUT IMG REVEALING ON SCROLL */
    &__photo {
        @include imgSetings;
        filter: brightness(.2);
    }

    &__photo-js {
        @include imgSetings;
        filter: brightness(1);
    }

    &__video {
        margin-top: 100px;
        position: relative;
        padding-bottom: 66.25%;
        height: 0;
        overflow: hidden;

    }

    &__video iframe {
        position: absolute;
        top: 0;
        left: 10%;
        width: 80%;
        height: 70%;
        opacity: 0.7;
        transition: 1s;

        &:hover {
            opacity: 1;
        }
    }
}

.signature {
    width: 160px;
    margin-top: -35px;
}

/* **********  TIMELINE VERTICAL RULER ***********/
.cv {
    background-image: radial-gradient(rgba(0, 0, 0, 0.822) 15%, 
                    rgb(0, 0, 0) 65%, 
                    rgb(0, 0, 0) 85%, 
                    rgb(0, 0, 0) 50%, 
                    rgb(0, 0, 0) 100%), 
                    url(../img/mountain-min.jpg);
    background-size: cover;
    background-repeat: none;
}

.timeline {
    position: relative;
    max-width: 85rem;
    margin: 0 auto;
    margin-top: 180px;

    &::after {
        content: '';
        position: absolute;
        width: 2px;
        background-color: $color-primary;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }

    & h2 {
        color: $color-primary;
        margin-bottom: 10px;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        font-weight: 400;
    }

    & h3 {
        color: $color-white;
    }

}

/* CONTAINER AROUND CONTENT */
.container {
    padding: 0 40px;
    position: relative;
    padding-bottom: 40px;
    background-color: inherit;
    width: 43.5%;

    /* DOTS ON TIMELINE */
    &::after {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        right: -5px;
        background-color: $color-primary;
        border: 2px solid $color-primary;
        top: 20px;
        border-radius: 50%;
        z-index: 1;

    }
}

/* PLACE CONTAINER TO THE LEFT */
.left {
    left: 0;
    width: 50%;
}

/* PLACE CONTAINER TO THE right */
.right {
    left: 49.7%;
}

/* FIX DOT ON THE RIGHT SIDE*/
.right::after {
    left: -7px;
}

/* CONTENT */
.content {
    padding: 20px 30px;
    position: relative;
    // border-radius: 6px;
    font-weight: 300;
    color: $color-grey-light;

    & ul {
        margin: 5px 0 0 20px;
    }

    & li:not(:last-child) {
        margin-bottom: 5px;
    }

}

.align-right {text-align: right;}
.li-dots-right {direction: rtl; unicode-bidi: embed;}



/* **********  ARTIST STATEMENT ***********/
.statement__box {
    margin-top: -150px;
    padding-bottom: 100px;
}
.artist__statement {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

.statement__img {
 @include statementImg;
    filter: brightness(.2);
}

.js-statement__img {
    @include statementImg;
    filter: brightness(1);
}

.statement {
    &__text {
        width: 60%;
        padding: 10px 0 0 0px;
        margin-left: 250px;
        line-height: 1.6;
        font-weight: 200;
        font-size: 1.1em;
        letter-spacing: 1.2px;
        color: $color-grey-light;
    }
    &__text:first-child::first-letter {
        color: $color-primary;
        font-size: 2em;
        font-weight: 500;
        line-height: 1;
    }
}

.blockquote {
    line-height: 1.6;
    position: relative;

    &::before {
        content: "\201c";
        font-size: 550%;
        display: block;
        position: absolute;
        top: -20%;
        left: -6%;
    }

}
