// * { 
//     outline: 1px red solid !important; 
//     visibility: visible !important 
// }

* {
    margin: 0;
    padding: 0;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: $font-primary;

}


// UTILITY CLASS
.mg-lb-lg {margin: 0 0 50px 77px;}
.mg-bottom-lg {margin-bottom: 90px;}
.mg-bottom-sm {margin-bottom: 15px;}
.mg-top-lg {margin-top: 80px;}
.align-right {text-align: right;}
.li-dots-right {direction: rtl; unicode-bidi: embed;}

.grey {color: $color-grey-light;}
.black {color:$color-black;}

.long-horizontal img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
}

.long-vertical img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 37%;

}





