* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: $font-primary;
    // background: rgba(14, 4, 4, 0.699);
    // color: #fff;
    // line-height: 1.5;
}

// * { 
//     outline: 1px red solid !important; 
//     visibility: visible !important 
// }

.mg-lb-lg {
    margin: 0 0 87px 77px;

}

