@mixin imgSetings {
    position: relative;
    top: 4px;
    left: 90px;
    width: 35%;
    display: inline-block;
    transition: 1s;
}

@mixin statementImg {
    position: relative;
    top: 100px;
    left: 6%;
    width: 37%;
    display: inline-block;
    padding-top: 50px;
    transition: 1s;
    
}

@mixin navBg {
    background-color: rgba(14, 4, 4, 0.788);
    box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.75);
}

@mixin modalContent {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
    text-align: center; 
    text-align: left;
    color: $color-grey-dark;

    span {
        color: $color-grey-light;
    }

}
@mixin formInput {
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
}
@mixin popupCenter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

@mixin setCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

@mixin linkSettings {
    text-decoration: none;
    font-size: .9em;
    text-transform: uppercase;
    color: $color-white;
    border: 1px solid $color-white;
    padding: 10px 12px;
    opacity: 0;
    transition-delay: 0.4s;
    transition: all 0.4s ease-out;
    
}

@mixin linearGradient {
    background: linear-gradient(to right,
      $color-black 45%,
      $color-black 45%,
      $color-primary 20%,
      $color-primary 50%);  
}

@mixin mobileLinearGradient {
    background: linear-gradient(to right,
      $color-black 65%,
      $color-black 65%,
      $color-primary 20%,
      $color-primary 50%);  
}

@mixin h2 {
    position: absolute;
    text-transform: uppercase;
    color: $color-primary;
    font-size: 2.2em;
    font-weight: 400;
    letter-spacing: 3px;
    padding: 0px 0 30px 76px;

    &:before {
        content: attr(data-text);
        position: relative;
        top: 0;
        left: 0.6%;
        color: darken($color-grey-darker, 10% );
        pointer-events: none;

    }
    
}

@mixin sectionBraker {
    height: 80vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

@mixin brakerMobile {
    background-image: linear-gradient(rgba($color-black, .5), rgba($color-black, .5)), url(../img/wolf-section.jpeg);   
}