.navigation {
    position: fixed;
    display: flex;
    align-items: center;
    padding: 30px 0 30px 0;
    width: 100%;
    z-index: 99;
}

//Logo
.logo {
    position: relative;
    left: 3rem;
    font-size: 1.8em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: $color-primary;
}

.active {
    color: $color-white;
}

// nav button
.toggle-btn {
    cursor: pointer;
    position: relative;
    left: 90%;
    width: 40px;
    height: 12px;
    z-index: 99;
}

.menu__btn {
    position: absolute;
    top: 20px;
    color: $color-white;
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: 1px;

}

span.one {
    position: absolute;
    width: 40px;
    height: 2px;
    background: $color-white;
}

span.two {
    position: absolute;
    width: 40px;
    height: 2px;
    background: $color-white;
    margin-top: 12px;
}

//Nav menu
.menu {
    position: fixed;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8));
    height: 100vh;
    width: 100%;
    top: -100%;
    z-index: 9;

    & span {
        color: $color-white;
    }
}

.data {
    padding: 8em 0 0 2em;
    text-align: center;
}

.nav__list {
    list-style: none;
}

.nav__item {
    font-size: 3em;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.nav__link {
    text-decoration: none;
    color: $color-grey-light;

    &:hover {
        color: $color-grey-dark;
    }

    &::before {
        content: '[';
        left: -5px;
    }

    &::after {
        content: ']';
        right: -5px;
    }

    &:before,
    &:after {
        position: relative;
        opacity: 0;
        color: $color-primary;
        top: -1px;
        transition: all .5s;
    }

    &:hover:before,
    &:hover:after {
        opacity: 0.7;
    }

    &:hover:before {
        left: -20px;
    }

    &:hover:after {
        right: -20px;
    }

}
.sticky{
    position: fixed;
    background: darken($color-black-bg2, 20%);
    animation-name: stick;
    animation-duration: .4s;
    animation-timing-function: ease;
    transition: background-color 1000ms ease-out;
    transition-delay: 125ms;
    z-index: 99;
}