.main__nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 27px;
    display: flex;
    @include navBg;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;

    & .logo {
        position: relative;
        font-size: 1.4em;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1.3px;
        font-weight: 700;
        margin-left: 40px;
        color: $color-primary;

    }

    & .logo__mobile {
        display: none;

        position: relative;
        font-size: 1.7em;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1.3px;
        font-weight: 700;
        margin-left: 40px;
        color: $color-primary;
    }
}

.nav {
    position: relative;
    display: flex;
    font-size: 14px;

    &__item {
        list-style: none;
    }

    &__link {
        position: relative;
        display: inline-block;
        margin-right: 40px;
        text-decoration: none;
        font-size: 1em;
        color: $color-primary;
        font-weight: 400;
        text-transform: uppercase;
        transition: all .4s;

        &:before {
            content: '';
		    width: 0;
		    height: 2px;
            margin-top: 30px;
		    background-color: $color-primary;
		    position: absolute;
		    top: 100%;
		    left: 0;
        }

        &:hover {
            color: $color-grey-light;
        }

    }
}

.nav__item:hover .nav__link:before {
    width: 100%;
    transition: .5s;
}

.active {
    color: $color-white;
}

.social__icons a {
    color: $color-primary;
    font-size: 1.2em;

    &:last-child {
        margin-right: 40px;
        margin-left: 8px;
    }

    &:hover{
        color:$color-white;
    }
} 

.sticky{
    position: fixed;
    background: $color-black-bg2;
    animation-name: stick;
    animation-duration: .4s;
    animation-timing-function: ease;
    transition: background-color 1000ms ease-out;
    transition-delay: 125ms;
    z-index: 99;
}

//MOBILE NAVIGATION
//Menu Botton
.menu__btn {
    position: absolute;
    height: 4.2rem;
    width: 4.2rem;
    border-radius: 50%;
    right: 15px;
    top: 10px;
    cursor: pointer;
    display: none;
    z-index: 2;

    .btn__line {
        position: relative;
        top: 37%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 2rem;
        height: 1px;
        margin: 0 0 6px 0;
        background: $color-white;
        transition: ease-out .3s;
        // @include easeOut3s;
    }

    // Rotate Into X With Menu Lines
    &.close {
        transform: rotate(180deg);
        .btn__line {
            //line 1 - Rotate
            &:nth-child(1) {
                transform: rotate(45deg) translate(-5px, 14px);
            }
            //Line 2 - Hide 
            &:nth-child(2) {
                opacity: 0;
            }
            //Line 3 Rotate
            &:nth-child(3) {
                transform: rotate(-45deg) translate(-4px, -15px);
            }
        }
    }
}


