@media screen and (min-width: 90.5em) and (max-width: 150em){  //90.533em = 1448px  150em = 2400px
    .logo {
        font-size: 3em;
    }
    .slide__buttons button {
        font-size: 3em;
        padding: 10px 15px;
    }

    .slide__content h1 {
        font-size: 3.2em;
    }
    .slide__content p {
        font-size: 1.5em;
    }

    .heading__secondary {
        font-size: 3.2em;
    }
    .col-4 {
        padding: 0 55px;

        & h2 {
            font-size: 3em;
        }
        & p {
            font-size: 1.4em;
        }
    }

    .quote {
        font-size: 3em;
    }

    .about__text {
        font-size: 1.5em;
    }
    .timeline {
        font-size: 1.6em;
    }
    .statement__text {
        font-size: 1.5em;
    }
    .contact__box {
        font-size: 1.4em;
    }
   
   
}

@media screen and (max-width: $bp-largest) {

    .popup__content {
        flex-direction: column;
        height: 80vh;

    }

    .popup__right {
        margin-top: 50px;
        text-align: center;
        padding-bottom: 50px;
    }

    .popup__img {
        padding-top: 104px;

    }


    //ABOUT 
    .about__photo {
        top: -64px;
        left: 50px;
    }

    .about__text {
        padding: 100px 0px 20px 11px;
    }

    .statement__content {
        margin-top: 130px;
    }

    // .statement__text {
    //     margin-left: 200px;
    // }

    // .statement__img {
    //     top: 100px;
    //     left: 8%;
    //     width: 40%;
    // }

    // CONTACT SECTION
    .contact__container {
        width: 90%;
        min-width: auto;
        margin: 20px;
    }

    .contact__container .contact__info {
        position: relative;
        top: 0;
        height: 550px;
        box-shadow: none;
    }

}

@media screen and (max-width: $bp-large) {
    .glide img {
        height: 400px;
    }

    .glide__slide--link {
        padding: 9px 12px;
        font-size: .7em;
    }

    //ABBOUT 
    .about__photo {
        top: -92px;
        left: 45px;
    }

    //ARTIST STATEMENT
    .statement__box {
        margin-top: -87px;
    }

    .statement__img {
        width: 44%;
    }

    //NAV
    .toggle-btn {
        left: 87%;
    }

}

@media screen and (max-width: $bp-medium) {
    //NAV
    .toggle-btn {
        left: 84%;
    }

    //ART SECTION
    .section__art {
        background: $color-black;
    }

    .main {
        flex-direction: column;
        padding-bottom: 70px;
    }

    .col-4 {
        width: 85%;
        padding: 40px 26px 70px 0;
    }

    .col-8 {
        width: 74%;
        padding-right: 0;
    }

    .glide img {
        height: 360px;
    }

    .glide__arrows {
        left: 10px;
    }

    .heading__secondary {
        padding: 0px 0 30px 67px;
    }

    .popup__content {
        width: 90%;

    }

    //ART / FEATURED PROJECTS
    .modal__description {
        width: 60%;
    }
    .modal__description {
        text-align: center;
    }

    .quote {
        font-size: 1.8em;
    }

    // CONTACT SECTION
    .section__contact {
        @include mobileLinearGradient
    }

    .contact__container {
        display: flex;
        flex-direction: column-reverse;
        margin: 150px 0 150px 0;
    }

    .contact__container .contact__form {
        position: relative;
        width: calc(100% - 350px);
        padding-left: 0;
        margin-left: 0;
        padding: 40px;
        height: 550px;

    }

    .contact__container .contact__form {
        width: 100%;
        height: auto;
    }

    .contact__container .contact__info {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: auto;
        box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);
    }

    // ABOUT
    .about {
        flex-direction: column;
        align-items: center;

        &__photo {
            top: -20px;
            left: 0;
            width: 60%;
            margin: auto;
            margin-bottom: 30px;
        }

        &__name {
            text-align: none;
        }

        &__text {
            width: 85%;
            padding: 100px 0 0 0;
            margin: auto;

        }
    }


    .about__text {
        width: 84%;
    }

    // GALLERY
    .modal {
        height: 90vh;
        width: 90vw;
    }

    .modal-content {
        flex-direction: column;
        text-align: center;

        & img {
            width: 60%;
        }
    }

    .long-horizontal {
        flex-direction: column;

        & img {
            width: 85%;
        }
    }

    .small-rectangular {
        flex-direction: column;
        text-align: center;

        & img {
            width: 75%;
        }
    }

    .long-vertical {
        flex-direction: column;
        text-align: center;

        & img {
            width: 55%;
        }

    }

    // CURRICULUM VITAE
    .container {
        padding: 0;
        width: 49.5%;
    }


    // ARTIST STATEMENT
    .artist__statement {
        flex-direction: column;
    }

    .statement__text {
        width: 80%;
        margin-left: 0;
        margin: auto;

        &:first-child {
            padding-top: 0;

        }
    }

    .statement__content {
        // margin-top: 145px;
        width: 100%;
    }

    .statement__img {
        top: 102px;
        left: 0;
        width: 65%;
        margin: auto;
    }

    .blockquote::before {
        top: -33%;
        left: -4%;
    }

}

@media screen and (max-width: $bp-medium2) {

    .glide img {
        height: 300px;
    }

    .glide__slide--link {
        padding: 9px 6px;
        // font-size: .7em;
    }

    .popup__content {
        width: 100%;
    }

    .modal__description {
        width: 70%;
        margin-top: -40px;
    }

    .modal-content img {
        width: 65%;
        margin-top: 60px;
    }

    .heading__secondary {
        padding: 0px 0 30px 63px;

    }

    //GALLERY 
    .gallery__content {
        flex: 50%;
        max-width: 50%;
      }


   

    // .nav,
    // .social__icons,
    // .logo {
    //     // display: none;
    // }

    // .main__nav .logo__mobile {
    //     display: block;
    //     margin-left: 16px;
    // }

    // .menu__btn {
    //     display: block;
    // }

}

@media screen and (max-width: $bp-small) {
    //SLIDER 
    .slide .slide__content {
        bottom: -300px;
        left: 0; 
        width: 100%; 
    }
 
    .slide.current .slide__content {
        transform: translateY(-300px);
        padding-left: 30px;
    }

    .slide:nth-child(3) {
        background-position: center right 30%;
    }
    .slide:nth-child(4) {
        background-position: center right 20%;
    }

    // NAV
     .toggle-btn {
        left: 78%;
    }
    .nav__link {
        color: lighten($color-grey-dark, 10%);

        &:hover {
            color: $color-grey-light;
        }
    }
    .heading__secondary {
        left: -9px;
        padding: 0px 0 30px 63px;
    }

    .glide img {
        height: 600px;
    }

    //GALLERY
    .gallery__content {
        flex: 100%;
        max-width: 100%;
      }

    .gallery__row {
        padding: 8px 10px;

    }
    .thumbnail-img {
        opacity: 1;
    }
    .long-vertical img {
        width: 70%;
    }
    .small-rectangular img {
        width: 90%;
    }
    .frame {
        top: 0;
    }

    .modal {
        width: 100vw;
        height: 95vh;

        &-content img {
            width: 80%;
        }
        &__description {
            width: 80%;
            margin-top: -10px;
        }
    }

    .heading__secondary {
        padding: 0px 0 30px 49px;
    }

    .cover__line {
        visibility: hidden;
    }

    .glide__slide--link {
        display: none;
        // padding: 13px 7px;
        // width: 83px;
    }
    .glide__arrows {
        bottom: -61px;
    }

  
    //ABOUT 
    .about {
        padding-bottom: 50px;

        &__text {
            padding-top: 100px;
        }

        &__name {
            text-align: left;
            margin-top: 50px;
        }

        &__photo {
            width: 82%;
        }
    }

    //TIME LINE
    .timeline::after {
        left: 31px;
    }

    .container {
        width: 100%;
        padding-left: 35px;
        padding-right: 25px;
    }

    .container::before {
        left: 60px;
        border: medium solid $color-white;
        border-width: 10px 10px 10px 0;
        border-color: transparent $color-white transparent transparent;
    }

    .left::after,
    .right::after {
        left: 21px;
    }

    .right {
        left: 0%;
    }

    .content h2 {
        text-align: left;
    }

    .content h3 {
        text-align: left;
    }

    .content li {
        direction: ltr;
        text-align: left;
    }

    .timeline {
        margin-top: 115px;
    }

    //ARTIST STATEMENT 
    .statement__img {
        top: 30px;
        width: 70%;
    }

    .statement__text {
        padding: 0;
    }

    .blockquote::before {
        top: -40%;
    }

    .quote {
        font-size: 1.5em;
    }

    // CONTACT FORM
    .section__contact {
        background: $color-black;
        padding-top: 50px;
    }

    .contact__container {
        margin: 130px 0 70px 0;
    }

    .form__content {
        flex-direction: column;
    }

    .contact__container .contact__info {
        flex-direction: column;

    }

    .contact__info--icons {
        margin-top: 35px;
    }

    .input__box.w50 {
        width: 100%;
    }

    .form__content {
        padding-top: 50px;
    }

    .popup__img {
        width: 90%;
        margin: auto;
    }
   

}


@media screen and (max-width: $bp-smallest) {
     // NAV
     .toggle-btn {
        left: 72%;
    }

    .section__art {
        padding-top: 50px;
    }

    .contact__container .contact__form {
        padding: 20px;
    }

    .heading__secondary {
        left: -38px;
    }

    .modal__description {
        width: 90%;
        margin-top: -77px;
    }.modal-content img {
        width: 90%;
    }


    .heading__secondary {
        left: -13px;
    }
    .mg-top-lg {
        margin-top: 50px;
    }

    .blockquote::before {
        top: -15%;
    }

    .statement__box {
        padding-bottom: 60px;
    }
    .statement__content {
        margin-top: 100px;
    }

    .statement__text:first-child {
        padding-top: 16px;
    }

    .about {
        padding: 60px 0 0 0;
    }

    .about__video {
        margin-bottom: 50px;
    }

    .glide__slide--link {
        padding: 8px 6px;
        font-size: .8em;
        width: 86%;
    }

    .statement__img {
        width: 76%;
    }
  
    .blockquote::before {
        top: -24%;
    }

    .quote {
        font-size: 1.3em;
    }

    .breaker3 {
        background-position: right;
    }

    .contact__container {
        margin: 120px 0 70px 0;
    }

   

   


}


//RESPONSIVE BREAKPOINTS
// $bp-largest: 222.5em; //2560px
// $bp-larger: 75em; //1200px
// $bp-large: 62.5em; //1000px
// $bp-medium: 50em; //800px
// $bp-medium2: 43.57em; //700px
// $bp-small: 37.5em; //600px
// $bp-smaller: 25em; //400px 
// $bp-smaller2: 23.43em; //375px

// @media(max-width: 600px) { 
//     .main__nav .logo {
//         display: none;
//     }

//     .main__nav .logo__mobile {
//         display: block;
//     }

// } 