.heading__secondary {
    position: absolute;
    text-transform: uppercase;
    color: $color-primary;
    font-size: 2.2em;
    font-weight: 400;
    letter-spacing: 3px;
    padding: 0px 0 30px 67px;

    &:before {
        content: attr(data-text);
        position: relative;
        top: 0;
        left: 0.6%;
        // font-size: 1.06em;
        color: darken($color-grey-darker, 10% );
        pointer-events: none;

    }

    // &:after {
    //     position: absolute;
    //     content:"";
    //     top: 70%;
    //     left: 9%;
    //     width: 3%;
    //     height: 2px;
    //     background-color:$color-white2;
    // }
}

.heading__terceary {
    font-size: 1.7em;
    text-transform: uppercase;
    color: $color-primary;
    letter-spacing: 1.8px;
    font-weight: 400;

}

