$color-primary: #ffd880;
$color-primary-light: #ecd99f;
$color-white: #fff;
$color-white2: #f6f5ee;
$color-grey-light: #a6a6a6;
$color-grey-dark: #5b5b5b;
$color-grey-darker: #333333;
$color-green-light: #18da58;

$color-black-bg: rgba(14, 4, 4, 0.699);
$color-black-bg2: rgba(10, 2, 2, 0.924);
$bg-overlay: rgba(0, 0, 0, .5);

$color-black: #000000;

// #f3dba3
// #ecd99f
// #e2ca7b primary

$font-primary: 'Roboto', sans-serif;

/// RESPONSIVE BREAKE POINTS 
$bp-largest: 75em; //1200px/16
$bp-large: 68.75em; //1100px/16
$bp-medium: 56.25em; //900px/16
$bp-medium2: 50em; //800px/16
$bp-small: 37.5em; //600px/16
$bp-smallest: 31.25em; //500px/16