* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    background-color: $color-white;
    color: #555;
    font-family: 'Lato', 'Ariel', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

body {
    // @include respond (tab-land) {
    //     font-size: 18px;
    // }

    @include respond (tab-port) {
        font-size: 16px;
        overflow-x: hidden;
    }
}

.clearfix {zoom: 1};
.clearfix:after {
    content: '';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.row {
    max-width: 1140px;
    margin: 0 auto;

    // @include respond (big-desktop) {
    //     padding: 0 2%;
    // }

    @include respond (tab-port) {
        padding: 0 4%;
    }
}

section {
    padding: 80px 0;

    // @include respond (tab-land) {
    //     padding: 60px 0;
    // }

    @include respond (tab-port) {
        padding: 30px 0;
    }

    // @include respond (phone) {
    //     padding: 20px 0;
    // }
}
