.heading-primary {
    @include headingFeatures;
    color: $color-white;
    font-size: 240%;
    margin-bottom: 10px;
    word-spacing: 4px;

    @include respond (tab-port) {
        font-size: 180%;
    }
}

.heading-secondary {
    @include headingFeatures;
    margin-bottom: 30px;
    font-size: 180%;
    text-align: center;

    @include respond (tab-port) {
        font-size: 150%;
    }

    &::after {
        content: '';
    display: block;
    height: 2px;
    background-color: $color-primary;
    margin: 0 auto;
    margin-top: 30px;
    width: 100px;

    }
}

.heading-tertiary {
    @include headingFeatures;
    font-size: 110%;
    margin-bottom: 15px;


    @include respond (tab-port) {
        text-align: center;
    }
}