.section__contact {
    padding: 6rem 0 8rem 0;
    @include bgContact;

    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
        @include bgContact-mobile;
        background-attachment: fixed;
    }

    @media only screen and (max-width: $bp-medium2) {
        padding: 4rem 0 5rem 0;
    }
}

.form {
   
    &__group {
      
        display: flex;
        justify-content: center;

        @media only screen and (max-width: $bp-small) {
            flex-direction: column; 
         }

        @media only screen and (max-width: $bp-smaller) {
            flex-direction: column;   
        }
    }
   
    &__group input:not(:last-of-type) {
        margin-right: 2rem;
    }

    &__group:not(:last-child) {
        margin: 2.5rem 2.5rem;

        @media only screen and (max-width: $bp-small) {
            margin: 1.2rem 1.2rem;
        }

        @media only screen and (max-width: $bp-smaller) {
            margin: 1.2rem 1.2rem;
        }

    }

    &__input {
        font-size: 1.2rem;
        font-family: Arial, Helvetica, sans-serif;
        padding: 1rem 1.5rem;
        border-radius: 5px;
        background-color: rgba($color-white, .7);
        border: none;
        width: 15%;

        @media only screen and (max-width: $bp-medium) {
            width: 100%;
        }

        @media only screen and (max-width: $bp-medium2) {
            width: 100%;
        }

        @media only screen and (max-width: $bp-small) {
            width: 92%;
            margin-bottom: 2rem;
            padding: 1.3rem;
        }

        @media only screen and (max-width: $bp-smaller) {
            width: 89%;
            margin-bottom: 1.3rem;
           }

        &:focus {
            outline: none;
            border-bottom: 3px solid $color-secondary;
        }

        &:focus:invalid {
            border-bottom: 3px solid $color-html
        }
    }

    &__textarea {
        background-color: rgba($color-white, .7);
        border-radius: 5px;
        border: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2rem;
        padding: 2rem 2rem;
        width: 55%;

        @media only screen and (max-width: $bp-larger) {
            width: 58%;
        }
         
        @media only screen and (max-width: $bp-large) {
            width: 58%;
        }

        @media only screen and (max-width: $bp-medium) {
            width: 100%;
        }

        @media only screen and (max-width: $bp-medium2) {
            width: 91%
        }

        @media only screen and (max-width: $bp-small) {
            width: 94%;
            padding: 1rem 1rem;

         }

        @media only screen and (max-width: $bp-smaller) {
            width: 93%;
            padding: 1rem 1rem;
           }


        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary;
        }
    }

    ::-webkit-input-placeholder {
        color: $color-gray-dark;
    }

    .btn__form-send {
        border: 1px solid $color-secondary;
        color: $color-secondary;
        padding: .7rem 1.8rem;
        text-transform: uppercase;
        border-radius: 5px;
        background: transparent;
        font-family: $font-primary;
        font-size: 1.3rem;
        margin-top: 1.5rem;
        cursor: pointer;
 
        @media only screen and (max-width: $bp-small) {
            width: 18%;
            margin: 1rem 0 0 1rem;
            padding: .8rem .6rem;

         }

        @media only screen and (max-width: $bp-smaller) {
            width: 18%;
            margin-left: 1rem;
            margin-top: 1rem;

         }

        &:hover {
            color: $color-white;
            background-color: $color-secondary;
        }
    }
}