.footer {
    background-color: rgba(33,42,56,.93);
    padding: 5rem 0 1rem 0;
    color: $color-white;
}
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;

        &__item {
           padding: 1rem;
           color: $color-gray-light;
        }

        &__link {
            font-size: 1.2rem;
            color: $color-gray-light;
            padding: .5rem 1rem .5rem 1rem; 
            transition: all .2s;

        }

        &__link:hover,
        &__link:active {
            color: $color-white;

        }

        // &__img {
        //     height: 3.5rem;
        //     transition: all .2s;

        // }

        // &__img:hover,
        // &__img:active {
        //     transform: translateY(-3px);
        //     opacity: .8;
        // }
    }

.copyright {
    color: $color-gray-light;
    font-size: 1.2rem;
    margin-top: 6rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}


