.header {
  // @include background;
  // @include bgSettings;
  // background-image: linear-gradient(rgba($bg-overlay, .7), rgba($bg-overlay, .7), ), url(../img/background.jpg);
  background-image: url(../img/background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  position: relative;
  height: 100vh;
  // overflow: hidden;
  z-index: 4;

  @media only screen and (max-width: $bp-small) {
    // background-image: linear-gradient(rgba($bg-overlay, .7), rgba($bg-overlay, .7), ), url(../img/background-mobile.jpg);
    background-image: url(../img/background.jpg);
    background-position: center right;




    // @include bgMobile;
    @include bgSettings;

}

  // @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
  // only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
  // only screen and (min-width: 125em) {
  //     @include bgMobile;
  // }

}

.main-heading {
  @include alignCenter;
  text-align: center;
  z-index: -1;
}


button.scroll_down {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 50px;
  width: 30px;
  bottom: 22px;
  background-color: transparent;
  border: 1px solid $color-secondary;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}

button.scroll_down:before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: scroll_down_btn-animation 2s infinite;
  animation: scroll_down_btn-animation 2s infinite;
  box-sizing: border-box;
}

@keyframes scroll_down_btn-animation {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes scroll_down_btn-animation {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  80% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
