.header {
  @include bgHome;
  height: 100vh;
  z-index: 4;

  @media only screen and (max-width: $bp-small) {
    background-position: left 90% bottom 10%;
  }

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
  only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
  only screen and (min-width: 125em) {
    @include bgHome-mobile;
      background-attachment: fixed;

      
  }
}

.main-heading {
  @include alignCenter;
  text-align: center;
  z-index: -1;
}


button.scroll_down {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 50px;
  width: 30px;
  bottom: 22px;
  background-color: transparent;
  border: 1px solid $color-secondary;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}

button.scroll_down:before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  // -webkit-animation: scroll_down_btn-animation 2s infinite;
  animation: scroll_down_btn-animation 2s infinite;
  box-sizing: border-box;
}

@keyframes scroll_down_btn-animation {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes scroll_down_btn-animation {
  0% {
    // -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  80% {
    // -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}



.language {
  display: none;
}

.language.active {
  display: block;

}

.language-choice img {
  transform: scale(.9);
  filter: blur(.1px) brightness(80%);


}

.language-choice.current img {
  transform: scale(.9);
  filter: blur(0) brightness(100%);

}

.language-controls {
  padding: 1rem 0 0 1.5rem;

  & a {
    color: $color-secondary;
    font-weight: 600;
    font-size: 1rem;
  }

  &--flag {
    display: inline-block;
    margin-right: .5rem;
    width: 3%;
    height: auto;
    transform: translateX(-4rem) scale(1.4);

    @media only screen and (max-width: $bp-medium) {
      width: 5%;
    }


    @media only screen and (max-width: $bp-medium2) {
      width: 6%;
    }

    @media only screen and (max-width: $bp-small) {
      width: 8%;
    }


    &:hover {
      filter: brightness(100%);
    }

  }
}

