.header {
  @include bgHome;
  height: 100vh;
  z-index: 4;

  @media only screen and (max-width: $bp-small) {
    background-position: left 90% bottom 10%;
  }

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
  only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
  only screen and (min-width: 125em) {
    @include bgHome-mobile;
      background-attachment: fixed;      
  }
}

.main-heading {
  @include alignCenter;
  text-align: center;
  z-index: -1;
}


button.scroll_down {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 50px;
  width: 30px;
  bottom: 22px;
  background-color: transparent;
  border: 1px solid $color-secondary;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}

button.scroll_down:before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  animation: scroll_down_btn-animation 2s infinite;
  box-sizing: border-box;
}

@keyframes scroll_down_btn-animation {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes scroll_down_btn-animation {
  0% {
    // -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  80% {
    // -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}



.language {
  display: none;
}

.language.active {
  display: block;

}

// .language-choice {

// }

.language-choice.current {
  color: $color-terceary-dark;

}

.language-controls {
  padding: 1.2rem 0 0 1.5rem;

  & a {
    color: $color-secondary;
    font-weight: 600;
    font-size: 1.2rem;
    margin-right: .3rem;

    @media only screen and (max-width: $bp-medium2) {
      font-size: 1.5rem;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 1.5rem;
    }

    &:first-child {
      border-right: 1px solid $color-secondary;
    }
  }

}

.social-container {
position: absolute;
top: 88%;
left: 97%;

@media only screen and (max-width: $bp-large) {
  left: 96%;
}

@media only screen and (max-width: $bp-medium) {
  left: 95%;
}

@media only screen and (max-width: $bp-medium2) {
  left: 93%;
}


@media only screen and (max-width: $bp-small) {
  left: 90%;
}

@media only screen and (max-width: $bp-smaller) {
  left: 90%;
}

@media only screen and (max-width: $bp-smaller2) {
  left: 89%;
}

}


.social_links a {
  display: flex;
  flex-direction: column;
  padding: .5rem;
  transition: all .5s;

  & i {
    font-size: 1.8rem;
    color: $color-white;

    @media only screen and (max-width: $bp-medium2) {
      font-size: 2rem;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 2rem;
    }

    &:hover {
      color: $color-secondary;
    }
  }


}

