//Menu Botton
.menu-btn {
    position: fixed;
    background: $color-secondary;
    height: 4.2rem;
    width: 4.2rem;
    border-radius: 50%;
    right: 15px;
    top: 1.5rem;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 2;


    @media only screen and (max-width: $bp-small) {
        right: .8rem;
    }

    .btn-line {
        position: relative;
        top: 37%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 2rem;
        height: 1px;
        margin: 0 0 6px 0;
        background: $color-white;
        @include easeOut3s;
    }

    // Rotate Into X With Menu Lines
    &.close {
        transform: rotate(180deg);

        .btn-line {

            //line 1 - Rotate
            &:nth-child(1) {
                transform: rotate(45deg) translate(-5px, 14px);
            }

            //Line 2 - Hide 
            &:nth-child(2) {
                opacity: 0;
            }

            //Line 3 Rotate
            &:nth-child(3) {
                transform: rotate(-45deg) translate(-4px, -15px);
            }
        }
    }
}

//Menu Overlay 
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.98;
    visibility: hidden;

    &.show {
        visibility: visible;
    }

    &-branding,
    &-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
        z-index: 10;

    }

    &-nav {
        margin: 0;
        padding: 0;
        background: rgba($bg-overlay-darker, 1);
        list-style: none;
        transform: translate3d(100%, 0, 0);
        @include easeOut;

        &.show {
            //Slide in from top
            transform: translate3d(0, 0, 0);
        }
    }

    .nav-item {
        transform: translate3d(600px, 0, 0);
        @include easeOut;

        &.show {
            //Slide in from right
            transform: translate3d(0, 0, 0);
        }

        &.active-link>a {
            color: $color-secondary;
        }
    }

    .nav-link {
        display: inline-block;
        position: relative;
        font-size: 2rem;
        color: $color-primary;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 300;
        @include easeOut;

        &:hover {
            color: $color-terceary;

        }

        &:before {
            content: attr(data-text);
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.8em;
            opacity: 0;
            pointer-events: none;
            z-index: -1;
            @include easeOut;

        }

        &:hover:before {
            opacity: .5;
            top: 50%;
            color: $color-primary;
        }
    }
}

//Delay each nav item slide by 0.1s
@for $i from 1 through 12 {
    .nav-item:nth-child(#{$i}) {
        transition-delay: $i * .03s;
    }
}
