.section__services {
    padding: 6rem 3.5rem 8rem 3.5rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 6rem 0 1rem 0;
 
     }  
    @media only screen and (max-width: $bp-medium2) {
       padding: 4rem 2rem 1rem 2rem;

    }    
    
    @media only screen and (max-width: $bp-small) {
        padding: 3rem 1.5rem 3rem 1.5rem;
    
     }

    @media only screen and (max-width: $bp-smaller) {
       padding: 3rem 1.3rem 3rem 1.3rem;
    }

    @media only screen and (max-width: $bp-smaller2) {
        padding: 3rem 1rem 3rem 1rem;
        
     }


}

.services__container {
    display: flex; 

    @media only screen and (max-width: $bp-medium) {
        display: block;
    }
}

.services__content {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    width: 100%;

    @media only screen and (max-width: $bp-medium) {
        margin-bottom: 2.3rem;   
    }

    // @media only screen and (max-width: $bp-medium2) {
    //     // display: block;
    //     // text-align: center;
    //     // // padding: 1.8rem;
    //     // width: 90%;
    //     // padding: 0;

       
    // }

    // // @media only screen and (max-width: $bp-small) {
    // //     width: 100%;
    // //     margin: 0 auto;
    // // }

    @media only screen and (max-width: $bp-smaller) {
        width: 100%;
    }


    &-icon {
        margin-bottom: 2.5rem;
        text-align: center;
    }

    &-text {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.5;
        font-family: $font-primary;
        color: $color-primary;
        padding-top: 2rem;
        text-align: center;
        margin: 0 auto;
        width: 85%;

        @media only screen and (max-width: $bp-medium) {
            margin-top: 1rem;
            padding-top: 0;
            width: 92%;   
        }

        @media only screen and (max-width: $bp-medium2) {
            margin-top: 1rem;
            width: 100%;   
        }
    }
}


