.section__services {
    padding: 0 3.5rem 7rem 3.5rem;
 
    @media only screen and (max-width: $bp-medium) {
        padding-bottom: 4.3rem;
    }    
}

.services__container {
    display: flex;      
    padding: 2;
    width: 100%;


    @media only screen and (max-width: $bp-medium) {
        display: block;
    }
}

.services__content {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    width: 100%;
    padding: 1rem;

    @media only screen and (max-width: $bp-medium) {
        display: block;
        text-align: center;
        // padding: 1.8rem;
        width: 95%;
    }

    @media only screen and (max-width: $bp-small) {
        width: 95%;
    }

    @media only screen and (max-width: $bp-small) {
        width: 90%;
    }


    &-icon {
        margin-bottom: 2.5rem;
        text-align: center;
    }

    &-text {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.5;
        font-family: $font-primary;
        color: $color-primary;
        margin-top: 2rem;
        text-align: center;
    }
}


