.section__services {
    padding: 0 0 7rem 0;
 
    @media only screen and (max-width: $bp-medium) {
        padding-bottom: 2.5rem;
    }
    
}

.services__container {
    display: flex;

    @media only screen and (max-width: $bp-medium) {
        display: block;
    }
}

.services__content {
    display: flex;
    flex-flow: column;
    padding: 1rem;

    @media only screen and (max-width: $bp-medium) {
        display: block;
        text-align: center;
        padding: 1.8rem;
    }


    &-icon {
        margin-bottom: 2.5rem;
        text-align: center;
    }

    &-text {
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.5;
        font-family: $font-primary;
        color: $color-primary;
        margin-top: 2rem;
        text-align: center;
    }
}


