.heading-primary {
  font-size: 9rem;
  font-weight: 600;
  color: $color-white;
  letter-spacing: 3px;
  line-height: .5;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;

 
  @media only screen and (max-width: $bp-medium){
    font-size: 7.5rem;

  }

  @media only screen and (max-width: $bp-medium2) {
    font-size: 6rem;
    line-height: .5;
 }

  @media only screen and (max-width: $bp-small) {
    font-size: 5.8rem;
    line-height: .9;
 }

  @media only screen and (max-width: $bp-smaller) { //400px
    font-size: 5.5rem;
    line-height: 1;
  }

  @media only screen and (max-width: $bp-smaller2) { //375px
        font-size: 5.3rem;
        letter-spacing: 0;
        line-height: 1;  
  }
 
}

.heading-secondary--type {
  color: $color-white;
  font-size: 2rem;
  letter-spacing: 1.2px;
  font-weight: 300;
  font-style: italic;
  padding: 3rem;
  margin-bottom: 8px;
  animation: moveInRight 1s ease-out;
  
  @media only screen and (max-width: $bp-small) {
    padding: 1.5rem 1rem 2rem 1rem;
    margin-bottom: 2rem;

 }

  @media only screen and (max-width: $bp-smaller2) {
    & {
      font-size: 1.3rem;
      padding: .8rem 2rem 2rem 2rem;
    }
  }
}

.heading-secondary {
  position: relative;
  color: $color-primary;
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 8rem;
  width: 100%;

  display: flex;
justify-content: center;  

  @media only screen and (max-width: $bp-small) {
    // padding: 3rem 0 6rem 0;

 }

  @media only screen and (max-width: $bp-smaller2) {
    // padding-top: 3rem;
}

  &:after {
    content: "";
    position: absolute;
    // bottom: 40%;
    top: 167%;
    right: 48%;
    width: 4%;
    height: 2px;
    background-color: $color-secondary;

    @media only screen and (max-width: $bp-smaller2) {
      bottom: 40%;
      width: 8%;
      right: 46%;
    }
  }

}

.heading-tertiary {
  font-size: 1.5rem;
  color: $color-primary;
  font-family: $font-primary;
  text-transform: uppercase;
  text-align: center;

}

.white {
  color: $color-white;
}

.popup-heading {
  font-size: 1.3em;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1.2em;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-family: $font-primary;
  color: $color-secondary;

  @media only screen and (max-width: $bp-smaller2) {
    font-size: 1.3rem;
      
  }
}

.text-secondary {
  color: $color-secondary;
  font-weight: 200;
  margin: 0;
}

/* Cursor */
.txt-type>.txt {
  border-right: 0.1rem solid $color-secondary;
}

.trillo-color {
  color: $color-trillo
}

.nexter-color {
  color: $color-nexter;
}

.natours-color {
  color: $color-netours
}

.omnifood-color {
  color: $color-omnifood;
}