.heading-primary {
  font-size: 9rem;
  font-weight: 600;
  color: $color-white;
  letter-spacing: 3px;
  line-height: .5;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;

 
  @media only screen and (max-width: $bp-medium){
    font-size: 7.5rem;

  }

  @media only screen and (max-width: $bp-medium2) {
    font-size: 6rem;
    line-height: .5;
 }

  @media only screen and (max-width: $bp-small) {
    font-size: 5.8rem;
    line-height: .9;
 }

  @media only screen and (max-width: $bp-smaller) { //400px
    font-size: 5.5rem;
    line-height: 1;
  }

  @media only screen and (max-width: $bp-smaller2) { //375px
        font-size: 5.3rem;
        letter-spacing: 0;
        line-height: 1;  
  }

  
}

.heading-secondary--type {
  color: $color-white;
  font-size: 2rem;
  letter-spacing: 1.2px;
  font-weight: 300;
  font-style: italic;
  padding: 3rem;
  margin-bottom: 8px;
  animation: moveInRight 1s ease-out;
  
  @media only screen and (max-width: $bp-small) {
    padding: 1.5rem 1rem 2rem 1rem;
    margin-bottom: 2rem;

 }

  @media only screen and (max-width: $bp-smaller2) {
    & {
      font-size: 1.3rem;
      padding: .8rem 2rem 2rem 2rem;
    }
  }
}

// .section-heading-vertical {
//   position: absolute;
//   left: -88%;
//   right: 0;
//   top: 42%;
//   color: $color-primary;
//   font-family: $font-display;
//   font-size: 3.9rem;
//   font-weight: 400;
//   text-align: center;
//   line-height: 1.2em;
//   padding: 17px;
//   transform: rotate(-100grad);

//   &:before {
//     content: attr(data-text);
//     position: absolute;
//     top: 40%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     font-size: 1.8em;
//     color: rgb(138, 138, 138);
//     opacity: 0.1;
//     pointer-events: none;
//   }

//   &:after {
//     content: "";
//     position: absolute;
//     bottom: -1px;
//     left: 50%;
//     width: 60px;
//     height: 1px;
//     background-color: $color-secondary;
//     margin-left: -30px;
//     transform: translate3d(0 100% 0);
//   }
// }

.heading-secondary {
  position: relative;
  color: $color-primary;
  font-family: $font-primary;
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.2em;
  text-transform: uppercase;
  padding: 6rem 0 8rem 0;

  @media only screen and (max-width: $bp-small) {
    padding: 3rem 0 6rem 0;

 }

  @media only screen and (max-width: $bp-smaller2) {
    padding-top: 3rem;
}




  &:after {
    content: "";
    position: absolute;
    bottom: 40%;
    right: 48%;
    width: 4%;
    height: 2px;
    background-color: $color-secondary;

    @media only screen and (max-width: $bp-smaller2) {
      bottom: 40%;
      width: 8%;
      right: 46%;
    }
  }

}
.white {
  color: $color-white;
}

.popup-heading {
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1.2em;
  text-transform: uppercase;
  margin-bottom: .8rem;
  font-family: $font-primary;
  color: $color-secondary;

  @media only screen and (max-width: $bp-smaller2) {
    font-size: 1.3rem;
      
  }
}

.text-secondary {
  color: $color-secondary;
  font-weight: 200;
  margin: 0;
}

/* Cursor */
.txt-type>.txt {
  border-right: 0.1rem solid $color-secondary;
}

.trillo-color {
  color: $color-trillo
}

.nexter-color {
  color: $color-nexter;
}

.natours-color {
  color: $color-netours
}

.omnifood-color {
  color: $color-omnifood;
}