// ===== COLORS =====
$color-primary: #444;
$color-secondary: #00ADDA;
$color-terceary: #f2f4f6;
$color-terceary-dark: #e3e7ec;
$color-white: #fff;

$color-black: #1e1e1e;
$color-black-3: #1f1e1efb;
$color-black-2: rgb(9, 9, 9);

$color-gray-light: #b7b7b7;
$color-gray-dark: #504d49;

//====== PROJECTS COLORS ======
$color-trillo:#eb2f64;
$color-netours: rgba(40, 180, 133, 0.8);
$color-nexter: #c69963;
$color-vesco: #34c6d3;
$color-omnifood: #e67e22;

//====== ICON COLORS ======
$color-javaScript: #f1c40e;
$color-css: #264de4;
$color-html: #e44f26;
$color-wordPress: #21759b;
$color-boostrap: #563d7c;
$color-sass: #cc6699;
$color-node: #3c873a;
$color-npm: #cb3837;

//====== FORM COLORS ======
$blue:#313A3D;
$orange:#FD9638;
$dark-orange:darken($orange, 20%);
$grey:#B6B6B6;
$light-grey:lighten($grey, 15%);

$background:#efefef;
$field-color:#E8E9EA;

// ===== BACKGROUNDS =====
$show-bg-img: true;
$bg-img: url(../img/background.jpg);
$bg-projects: url(https://raw.githubusercontent.com/yagoestevez/fcc-portfolio/master/src/Images/Stars.svg?sanitize=true);
// $bg-projects: url(/img/Author_BG.jpg);


$bg-overlay: rgba(0, 0, 0, .5);
;
$bg-overlay-darker: rgba(0, 0, 0, .7);

// ===== FONTS ======
$font-primary: 'Raleway',
sans-serif;
$font-display: 'Merriweather',
serif;

//RESPONSIVE BREAKPOINTS
$bp-largest: 222.5em; //2560px
$bp-larger: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-medium2: 43.57em; //700px
$bp-small: 37.5em; //600px
$bp-smaller: 25em; //400px
$bp-smaller2: 23.43em; //375px