// MAIN NAVIGATION
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;   

    @include respond (tab-port) {
        display: none;
        float: left;
        margin: 30px 0 0 25px ;
        
    }

    & li {
        display: inline-block;
        margin-left: 40px;

        @include respond (tab-port) {
            display: block;
        }
    }

    & li a:link,
    & li a:visited {
        color: $color-white;
        border-bottom: 2px solid transparent;
        font-size: 90%;
        padding: 5px 0;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.2s;

        @include respond (tab-port) {
            display: block;
            border: 0;
            padding: 10px 0;
            font-size: 100%;
        }
    }

    & li a:hover,
    & li a:active {
        border-bottom: 2px solid $color-primary;
      
        
    } 
  
}
.logo {
    height: 100px;
    margin-top: 20px;
    float: left;
    width: auto;  
}

.logo-black {
    display: none;
    height: 50px;
    margin: 5px 0;
    float: left;
    width: auto;

}

// MOBILE NAVIGATION
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;

    & i {
        font-size: 200%;
        color: $color-white;
    }  

    @include respond (tab-port) {
        display: inline-block;
    }

}

// STIKY NAVIGATION
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px $color-grey-lighter;
    z-index: 99;

    & .main-nav {
        margin-top: 18px;

    }

    & li a:link,
    & li a:visited {
        color: #555;
        padding: 16px 0;

        @include respond (tab-port) {
            padding: 10px 0;
            border-bottom: none;
        }

    }

    & .logo {
        display: none;
    }

    & .logo-black {
        display: block;
    }

    & .mobile-nav-icon i {

        @include respond (tab-port) {
            color: #555;
            margin-top: 20px;
        }
    }

    & .mobile-nav-icon {
        @include respond (tab-port) {
            margin-top: 10px;
        }
    }
}














