// =============== FONTS ===============
$font-primary: 'Raleway', sans-serif;
$font-display: 'Source Sans Pro', sans-serif;


// =============== COLORS ===============
$color-primary:#129cf3;
$color-primary-dark:#0577be;


$color-white: #fff;
$color-light-grey: #d8d8d8;
$color-dark-grey: #727272;

$color-dark: rgba(31, 31, 31, 0.75);
$color-dark-2: #1a1a1a;