.section__features {
    padding: 80px 0;

    &--icon {
        color: $color-primary;
        display: block;
        --ionicon-stroke-width: 12px;
        margin-bottom: 10px;
        font-size: 350%;
    }

    &--heading-text {
        line-height: 145%;
        width: 70%;
        margin-left: 15%;
        margin-bottom: 30px;
        
    }

    &--text {
        font-size: 90%;
        line-height: 145%;
    }
}

.box{
    padding: 1%;
}

.section__meals {
    &--showcase {
        list-style: none;
        width: 100%;

        &-item {
            display: block;
            float: left;
            width: 25%;
        }

        &-foto {
            width: 100%;
            margin: 0;
        }
        &-foto img {
            width: 100%;
            height: auto;
        }
    }
}