.choose-us-wraper {
    padding-top: 50px;
}

.choose-us-title {
    padding-bottom: 5px;
}

.choose-us-title__text{
    margin-top: 40px;
    font-size: 19px;
    line-height: 24px;
}

.about-iphone {
    padding-top: 32px;
    margin-top: 8px;
}

.section-title {
    padding-top: 20px;
}

.about-text {
   @include sectionText;
}

.choose-us-item {
    position: relative;
    padding: 0 0 4px 80px;
    
}

.choose-us-description:last-child {
    margin-bottom: 49px
}

.choose-us-text {
   @include descriptionText;
}

.choose-us-icon {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px;
    color: $color-primary;
    border: solid 1px #cccccc;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 50px;
    transition: all 1s;
}
