* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {
    box-sizing: inherit;
    font-size: 80%; //1 rem = 10px/16px = 62.5%
    // overflow-x: hidden;
}

// @media only screen and (max-width: $bp-medium) {
//     html {
//         // font-size: 50%;
//     } 
// }

// @media only screen and (max-width: $bp-small) {
//     html {
//        font-size: 50%;
//    }
// }

// @media only screen and (max-width: $bp-smaller) {
//     html {
//         font-size: 34%;
//     } 
// }


body {
    // height: 100%;
    font-family: 'Raleway', sans-serif;
    line-height: 1.6rem;
    // overflow-x: hidden;

}


a {
    text-decoration: none;
}