// ****** NAV BUTTON ******
.btn {
    display: inline-block;
    @include alignCenter;
    // font-size: 15px;
    font-weight: 600;
    // letter-spacing: .5px;
    text-transform: uppercase;
    padding: 10px;
    overflow: hidden;

    &__link {
        position: relative;
        // text-decoration: none;
        color: $color-primary;
        font-family: Helvetica;
        // text-transform: uppercase;
        // display: block;
        // text-align: center;
        // padding: 7px 3px;
    }

    .line {
        position: absolute;
        background-color: $color-secondary;

        &--one {
            width: 2px;
            height: 100%;
            left: 0;
            top: 0;
            transform: translate3d(0px, 102%, 0px);
        }

        &--two {
            width: 100%;
            height: 2px;
            left: 0;
            top: 0;
            transform: translate3d(-102%, 0px, 0px);
        }

        &--three {
            width: 2px;
            height: 100%;
            right: 0;
            top: 0;
            transform: translate3d(0px, -102%, 0px);

        }

        &--four {
            width: 100%;
            height: 2px;
            left: 0;
            bottom: 0;
            transform: translate3d(102%, 0px, 0px);

        }
    }

    &:hover {
        .line {
            opacity: 1;

            &--one,
            &--two,
            &--three,
            &--four {
                transform: translate3d(0, 0, 0);
                transition: transform .3s ease-in-out;
            }

            &--one {
                transition-delay: 0s;
            }

            &--two {
                transition-delay: 250ms;
            }

            &--three {
                transition-delay: 500ms;
            }

            &--four {
                transition-delay: 750ms;
            }
        }
    }
}

// ****** HEADER BUTTON ******
.btn_header {
    color: $color-white;
    border: 1px solid $color-secondary;
    border-radius: 3.12rem;
    font-family: $font-primary;
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    padding: 1.2rem 2rem;
    width: 14rem;
    cursor: pointer;
    @include easeOut;
    outline: none;

    & span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    &:hover {
        background-color: $color-secondary;

    }

    & span:after {
        content: '\00bb';
        font-size: 1.6rem;
        position: absolute;
        opacity: 0;
        top: -2px;
        right: 2px;
        transition: 0.5s;
    }

    &:hover span {
        padding-right: 25px;
        color: $color-white;

    }

    &:hover span:after {
        opacity: 1;
        right: -2px;
    }

}

// ****** DOWNLOAD BUTTON ******
.btn-download {
    position: relative;
    top: 50px;
    right: 0;
    left: 0;
    width: 215px;
    height: 70px;
    background: $color-primary;
    background-size: 200%;
    border-radius: 5px;
    display: block;
    text-align: center;
    font-family: $font-display;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 0px;
    overflow: hidden;
    cursor: pointer;
    @include easeOut;

    &:focus {
        outline: 0;
    }

    &:hover {
        box-shadow: 5px 15px 22px 0 rgba(0, 0, 0, .35);
        color: $color-secondary;
    }

    &__first {
        background-position: 100%;
        height: 12px;
        margin-top: 20px;
    }

    &__bridge1 {
        background: $color-primary;
        background-position: 0%;
        transition: none;
    }

    &__second {
        background: $color-secondary;
        background-size: 200%;
        transition: all 1.2s;

    }

    &__third {
        background-position: -100%;
    }

    &__final {
        margin-top: 0px;
        height: 70px;
        @include easeOut;
    }

    &:after {
        content: 'Success!';
        position: absolute;
        right: -100%;
        opacity: 0;
        width: 100%;
        top: 33%;
        margin: 0px;
        color: $color-white;
        @include easeOut;
    }

    &__final:after {
        right: 0%;
        opacity: 1;
    }

    &:before {
        content: 'Resume ''\2193';
        position: absolute;
        left: 0%;
        width: 100%;
        top: 33%;
        margin: 0px;
        color: $color-white;
        @include easeOut;
    }

    &__first:before {
        left: -100%;
        opacity: 0;
    }

}

// ****** POPUP ******
.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $bg-overlay;
    opacity: 0;
    visibility: hidden;
    @include easeOut3s;
    z-index: 5;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: $bg-overlay;

    @supports(-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: $bg-overlay-darker;
    }

    &__content {
        @include alignCenter;
        max-width: 90rem;
        width: 90%;
        height: 90vh;
        background-color: $color-terceary;
        box-shadow: 0 2rem 4rem rgba($bg-overlay-darker, .9);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.2);
        transition: all .5s .2s;

        @media only screen and (max-width: $bp-smaller2) {
            width: 95%;
            
        }
    }

    &__right {
        width: 45%;
        display: table-cell;
        vertical-align: middle;
        padding: 0 3rem 5.5rem 6.5rem;

        @media only screen and (max-width: $bp-smaller2) {
            width: 100%;
            padding: 30rem 2rem 2rem 2rem;
            
        }

    }

    &__img {
        position: absolute;
        top: 6%;
        left: 4%;
        width: 55%;
        display: block;
        z-index: -1;

        @media only screen and (max-width: $bp-smaller2) {
           width: 92%;
           padding-bottom: 5rem;
           top: 10%;
            
        }
    }

    &__text {
        font-family: $font-primary;
        font-size: 1rem;
        margin-bottom: 2rem;
        line-height: 1.3;
        letter-spacing: .5px;
        color: $color-primary;

        @media only screen and (max-width: $bp-smaller2) {
           font-size: 1.3rem;
             
         }

    }

    //Open state
    &:target {
        opacity: 1;
        visibility: visible;

    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {

        &:link,
        &:visited {
            color: $color-primary;
            position: absolute;
            top: 1.5rem;
            right: 2rem;
            font-size: 3.5rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1;
            z-index: 110;
        }

        &:hover {
            color: $color-secondary;
        }
    }

    &-links {
        display: flex;
        justify-content: space-around;

    }
}

// ****** POPUP BUTTON ******
.btn-popup {
    border: 1px solid $color-primary;
    padding: 1rem 1.5rem;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .5px;
    color: $color-white;
    background: $color-primary;
    border-radius: 5px;

    &:hover {
        color: $color-primary;
        background: $color-white;
        transform: translateY(-3px);
        box-shadow: 0 10px 100px -20px $color-primary;
        @include easeOut3s;
    }

}