/*
0 - 480px ----- small phones
600 - 900px --- Tablet portrait
900 - 1200px -- Tablet ladscape
[1200 - 1800] - is where our normal styles apply
1800px + ------ Big desktop
*/
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/hero-min.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh; }
  @media only screen and (max-width: 480px) {
    .header {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/hero-mobile.jpg); } }
  .header__text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 1200px) {
      .header__text-box {
        width: 100%;
        padding: 0 2%; } }
    @media only screen and (max-width: 767px) {
      .header__text-box {
        width: 100%;
        margin-left: 0; } }

/*  SECTIONS  ============================================================================= */
.section {
  clear: both;
  padding: 0px;
  margin: 0px; }

/*  GROUPING  ============================================================================= */
.row {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }
  @media only screen and (max-width: 767px) {
    .row {
      padding: 0 4%; } }

.row:before,
.row:after {
  content: "";
  display: table; }

.row:after {
  clear: both; }

/*  GRID COLUMN SETUP   ==================================================================== */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%; }
  @media only screen and (max-width: 767px) {
    .col {
      margin: 0 0 4% 0;
      width: 100%; } }

.col:first-child {
  margin-left: 0; }

/* all browsers except IE6 and lower */
/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    /*margin: 1% 0 1% 0%;*/
    margin: 0; } }

/*  GRID OF TWO   ============================================================================= */
.span-2-of-2 {
  width: 100%; }

.span-1-of-2 {
  width: 49.2%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-2-of-2 {
    width: 100%; }
  .span-1-of-2 {
    width: 100%; } }

/*  GRID OF THREE   ============================================================================= */
.span-3-of-3 {
  width: 100%; }

.span-2-of-3 {
  width: 66.13%; }

.span-1-of-3 {
  width: 32.26%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-3-of-3 {
    width: 100%; }
  .span-2-of-3 {
    width: 100%; }
  .span-1-of-3 {
    width: 100%; } }

/*  GRID OF FOUR   ============================================================================= */
.span-4-of-4 {
  width: 100%; }

.span-3-of-4 {
  width: 74.6%; }

.span-2-of-4 {
  width: 49.2%; }

.span-1-of-4 {
  width: 23.8%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-4-of-4 {
    width: 100%; }
  .span-3-of-4 {
    width: 100%; }
  .span-2-of-4 {
    width: 100%; }
  .span-1-of-4 {
    width: 100%; } }

/*  GRID OF FIVE   ============================================================================= */
.span-5-of-5 {
  width: 100%; }

.span-4-of-5 {
  width: 79.68%; }

.span-3-of-5 {
  width: 59.36%; }

.span-2-of-5 {
  width: 39.04%; }

.span-1-of-5 {
  width: 18.72%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-5-of-5 {
    width: 100%; }
  .span-4-of-5 {
    width: 100%; }
  .span-3-of-5 {
    width: 100%; }
  .span-2-of-5 {
    width: 100%; }
  .span-1-of-5 {
    width: 100%; } }

/*  GRID OF SIX   ============================================================================= */
.span-6-of-6 {
  width: 100%; }

.span-5-of-6 {
  width: 83.06%; }

.span-4-of-6 {
  width: 66.13%; }

.span-3-of-6 {
  width: 49.2%; }

.span-2-of-6 {
  width: 32.26%; }

.span-1-of-6 {
  width: 15.33%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-6-of-6 {
    width: 100%; }
  .span-5-of-6 {
    width: 100%; }
  .span-4-of-6 {
    width: 100%; }
  .span-3-of-6 {
    width: 100%; }
  .span-2-of-6 {
    width: 100%; }
  .span-1-of-6 {
    width: 100%; } }

/*  GRID OF SEVEN   ============================================================================= */
.span-7-of-7 {
  width: 100%; }

.span-6-of-7 {
  width: 85.48%; }

.span-5-of-7 {
  width: 70.97%; }

.span-4-of-7 {
  width: 56.45%; }

.span-3-of-7 {
  width: 41.94%; }

.span-2-of-7 {
  width: 27.42%; }

.span-1-of-7 {
  width: 12.91%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-7-of-7 {
    width: 100%; }
  .span-6-of-7 {
    width: 100%; }
  .span-5-of-7 {
    width: 100%; }
  .span-4-of-7 {
    width: 100%; }
  .span-3-of-7 {
    width: 100%; }
  .span-2-of-7 {
    width: 100%; }
  .span-1-of-7 {
    width: 100%; } }

/*  GRID OF EIGHT   ============================================================================= */
.span-8-of-8 {
  width: 100%; }

.span-7-of-8 {
  width: 87.3%; }

.span-6-of-8 {
  width: 74.6%; }

.span-5-of-8 {
  width: 61.9%; }

.span-4-of-8 {
  width: 49.2%; }

.span-3-of-8 {
  width: 36.5%; }

.span-2-of-8 {
  width: 23.8%; }

.span-1-of-8 {
  width: 11.1%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-8-of-8 {
    width: 100%; }
  .span-7-of-8 {
    width: 100%; }
  .span-6-of-8 {
    width: 100%; }
  .span-5-of-8 {
    width: 100%; }
  .span-4-of-8 {
    width: 100%; }
  .span-3-of-8 {
    width: 100%; }
  .span-2-of-8 {
    width: 100%; }
  .span-1-of-8 {
    width: 100%; } }

/*  GRID OF NINE   ============================================================================= */
.span-9-of-9 {
  width: 100%; }

.span-8-of-9 {
  width: 88.71%; }

.span-7-of-9 {
  width: 77.42%; }

.span-6-of-9 {
  width: 66.13%; }

.span-5-of-9 {
  width: 54.84%; }

.span-4-of-9 {
  width: 43.55%; }

.span-3-of-9 {
  width: 32.26%; }

.span-2-of-9 {
  width: 20.97%; }

.span-1-of-9 {
  width: 9.68%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-9-of-9 {
    width: 100%; }
  .span-8-of-9 {
    width: 100%; }
  .span-7-of-9 {
    width: 100%; }
  .span-6-of-9 {
    width: 100%; }
  .span-5-of-9 {
    width: 100%; }
  .span-4-of-9 {
    width: 100%; }
  .span-3-of-9 {
    width: 100%; }
  .span-2-of-9 {
    width: 100%; }
  .span-1-of-9 {
    width: 100%; } }

/*  GRID OF TEN   ============================================================================= */
.span-10-of-10 {
  width: 100%; }

.span-9-of-10 {
  width: 89.84%; }

.span-8-of-10 {
  width: 79.68%; }

.span-7-of-10 {
  width: 69.52%; }

.span-6-of-10 {
  width: 59.36%; }

.span-5-of-10 {
  width: 49.2%; }

.span-4-of-10 {
  width: 39.04%; }

.span-3-of-10 {
  width: 28.88%; }

.span-2-of-10 {
  width: 18.72%; }

.span-1-of-10 {
  width: 8.56%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-10-of-10 {
    width: 100%; }
  .span-9-of-10 {
    width: 100%; }
  .span-8-of-10 {
    width: 100%; }
  .span-7-of-10 {
    width: 100%; }
  .span-6-of-10 {
    width: 100%; }
  .span-5-of-10 {
    width: 100%; }
  .span-4-of-10 {
    width: 100%; }
  .span-3-of-10 {
    width: 100%; }
  .span-2-of-10 {
    width: 100%; }
  .span-1-of-10 {
    width: 100%; } }

/*  GRID OF ELEVEN   ============================================================================= */
.span-11-of-11 {
  width: 100%; }

.span-10-of-11 {
  width: 90.76%; }

.span-9-of-11 {
  width: 81.52%; }

.span-8-of-11 {
  width: 72.29%; }

.span-7-of-11 {
  width: 63.05%; }

.span-6-of-11 {
  width: 53.81%; }

.span-5-of-11 {
  width: 44.58%; }

.span-4-of-11 {
  width: 35.34%; }

.span-3-of-11 {
  width: 26.1%; }

.span-2-of-11 {
  width: 16.87%; }

.span-1-of-11 {
  width: 7.63%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-11-of-11 {
    width: 100%; }
  .span-10-of-11 {
    width: 100%; }
  .span-9-of-11 {
    width: 100%; }
  .span-8-of-11 {
    width: 100%; }
  .span-7-of-11 {
    width: 100%; }
  .span-6-of-11 {
    width: 100%; }
  .span-5-of-11 {
    width: 100%; }
  .span-4-of-11 {
    width: 100%; }
  .span-3-of-11 {
    width: 100%; }
  .span-2-of-11 {
    width: 100%; }
  .span-1-of-11 {
    width: 100%; } }

/*  GRID OF TWELVE   ============================================================================= */
.span-12-of-12 {
  width: 100%; }

.span-11-of-12 {
  width: 91.53%; }

.span-10-of-12 {
  width: 83.06%; }

.span-9-of-12 {
  width: 74.6%; }

.span-8-of-12 {
  width: 66.13%; }

.span-7-of-12 {
  width: 57.66%; }

.span-6-of-12 {
  width: 49.2%; }

.span-5-of-12 {
  width: 40.73%; }

.span-4-of-12 {
  width: 32.26%; }

.span-3-of-12 {
  width: 23.8%; }

.span-2-of-12 {
  width: 15.33%; }

.span-1-of-12 {
  width: 6.86%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-12-of-12 {
    width: 100%; }
  .span-11-of-12 {
    width: 100%; }
  .span-10-of-12 {
    width: 100%; }
  .span-9-of-12 {
    width: 100%; }
  .span-8-of-12 {
    width: 100%; }
  .span-7-of-12 {
    width: 100%; }
  .span-6-of-12 {
    width: 100%; }
  .span-5-of-12 {
    width: 100%; }
  .span-4-of-12 {
    width: 100%; }
  .span-3-of-12 {
    width: 100%; }
  .span-2-of-12 {
    width: 100%; }
  .span-1-of-12 {
    width: 100%; } }

.footer {
  background-color: #333;
  padding: 50px;
  font-size: 80%; }
  @media only screen and (max-width: 480px) {
    .footer {
      padding: 40px; } }
  .footer__nav {
    list-style: none;
    float: left; }
    @media only screen and (max-width: 767px) {
      .footer__nav {
        width: 100%;
        text-align: center; } }
    .footer__nav li {
      display: inline-block;
      margin-right: 20px; }
      @media only screen and (max-width: 480px) {
        .footer__nav li {
          margin-right: 5px; } }
    .footer__nav--link:link, .footer__nav--link:visited {
      color: #888;
      text-decoration: none;
      transition: color 0.2s; }
    .footer__nav--link:hover, .footer__nav--link:active {
      color: #fff; }
  .footer__social {
    list-style: none;
    float: right;
    font-size: 160%; }
    @media only screen and (max-width: 767px) {
      .footer__social {
        width: 100%;
        text-align: center;
        margin-top: 20px; } }
    .footer__social li {
      display: inline-block;
      margin-right: 20px; }
      .footer__social li:last-child {
        margin: 0; }
    .footer__social--link:link, .footer__social--link:visited {
      color: #888;
      text-decoration: none;
      border: 0; }
    .footer__social .ion-social-facebook:hover {
      color: #3b5998; }
    .footer__social .ion-social-twitter:hover {
      color: #55acee; }
    .footer__social .ion-social-googleplus:hover {
      color: #dc4e41; }
    .footer__social .ion-social-instagram:hover {
      color: #3f729b; }
  .footer span {
    color: #888;
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    text-align: center; }

.main__nav {
  z-index: 1; }
  .main__nav-item {
    display: inline-block;
    margin-left: 40px; }
    @media only screen and (max-width: 767px) {
      .main__nav-item {
        display: block; } }
  .main__nav-list {
    float: right;
    list-style: none;
    margin-top: 55px; }
    @media only screen and (max-width: 767px) {
      .main__nav-list {
        float: left;
        margin-top: 30px;
        margin-left: 25;
        display: none; } }
  .main__nav-link:link, .main__nav-link:visited {
    color: #fff;
    border-bottom: 2px solid transparent;
    font-size: 90%;
    padding: 5px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s; }
    @media only screen and (max-width: 767px) {
      .main__nav-link:link, .main__nav-link:visited {
        display: block;
        border: 0;
        padding: 8px 0;
        font-size: 100%; } }
  .main__nav-link:hover, .main__nav-link:active {
    border-bottom: 2px solid #e67e22; }
  .main__nav-logo {
    height: 100px;
    margin-top: 20px;
    float: left;
    width: auto; }
  .main__nav-logo--black {
    display: none;
    height: 50px;
    margin: 5px 0;
    float: left;
    width: auto; }
  .main__nav-logo--black {
    display: none; }

.mobile__nav-icon {
  float: right;
  margin-top: 30px;
  cursor: pointer;
  display: none; }
  .mobile__nav-icon i {
    font-size: 200%;
    color: #fff; }
  @media only screen and (max-width: 767px) {
    .mobile__nav-icon {
      display: block; } }

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px #efefef; }
  .sticky .main__nav-link:link,
  .sticky .main__nav-link:visited {
    color: #555;
    padding: 16px 0; }
    @media only screen and (max-width: 767px) {
      .sticky .main__nav-link:link,
      .sticky .main__nav-link:visited {
        margin-top: 10px;
        padding: 5px 0; } }
  .sticky .main__nav-logo {
    display: none; }
  .sticky .main__nav-logo--black {
    display: block; }
  .sticky .main__nav-list {
    margin-top: 18px; }
  @media only screen and (max-width: 767px) {
    .sticky .mobile__nav-icon i {
      color: #555;
      margin-top: 20px; } }
  @media only screen and (max-width: 767px) {
    .sticky .mobile__nav-icon {
      margin-top: 10px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Ariel', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden; }

@media only screen and (max-width: 767px) {
  body {
    font-size: 16px;
    overflow-x: hidden; } }

.clearfix {
  zoom: 1; }

.clearfix:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden; }

.row {
  max-width: 1140px;
  margin: 0 auto; }
  @media only screen and (max-width: 767px) {
    .row {
      padding: 0 4%; } }

section {
  padding: 80px 0; }
  @media only screen and (max-width: 767px) {
    section {
      padding: 30px 0; } }

.heading-primary {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  font-size: 240%;
  margin-bottom: 10px;
  word-spacing: 4px; }
  @media only screen and (max-width: 767px) {
    .heading-primary {
      font-size: 180%; } }

.heading-secondary {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 30px;
  font-size: 180%;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .heading-secondary {
      font-size: 150%; } }
  .heading-secondary::after {
    content: '';
    display: block;
    height: 2px;
    background-color: #e67e22;
    margin: 0 auto;
    margin-top: 30px;
    width: 100px; }

.heading-tertiary {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 110%;
  margin-bottom: 15px; }
  @media only screen and (max-width: 767px) {
    .heading-tertiary {
      text-align: center; } }

.js--wp-1,
.js--wp-2,
.js--wp-3 {
  opacity: 0;
  animation-duration: 1s; }

.js--wp-4 {
  animation-duration: 1s; }

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
  opacity: 1; }

.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  border-radius: 200px;
  font-weight: 300;
  padding: 10px 30px;
  text-decoration: none;
  transition: all .2s; }
  .btn:link:hover, .btn:link:active,
  .btn:visited:hover,
  .btn:visited:active,
  input[type=submit]:hover,
  input[type=submit]:active {
    background-color: #cf6d17; }

.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-right: 15px; }
  .btn-full:link:hover, .btn-full:link:active,
  .btn-full:link input[type=submit],
  .btn-full:visited:hover,
  .btn-full:visited:active,
  .btn-full:visited input[type=submit],
  input[type=submit]:hover,
  input[type=submit]:active,
  input[type=submit] input[type=submit] {
    border: 1px solid #cf6d17; }

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22; }
  .btn-ghost:link:hover, .btn-ghost:link:active,
  .btn-ghost:visited:hover,
  .btn-ghost:visited:active {
    border: 1px solid #cf6d17;
    color: #fff; }

.section__features {
  margin-bottom: 20px; }
  .section__features--icon {
    color: #e67e22;
    display: block;
    --ionicon-stroke-width: 12px;
    margin-bottom: 10px;
    font-size: 350%; }
    @media only screen and (max-width: 767px) {
      .section__features--icon {
        text-align: center;
        margin: auto;
        margin-bottom: 20px; } }
  .section__features--heading-text {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 35px; }
    @media only screen and (max-width: 767px) {
      .section__features--heading-text {
        width: 100%;
        margin-left: 0; } }
  .section__features--text {
    font-size: 90%;
    line-height: 145%; }

.box {
  padding: 1%; }

/* ***** SECTION MEALS ***** */
.section__meals {
  padding: 0; }
  .section__meals--showcase {
    list-style: none;
    width: 100%; }
    .section__meals--showcase-item {
      display: block;
      float: left;
      width: 25%; }
    .section__meals--showcase-foto {
      width: 100%;
      margin: 0;
      overflow: hidden;
      background-color: #000; }
      .section__meals--showcase-foto img {
        width: 100%;
        height: auto;
        transform: scale(1.15);
        opacity: 0.7;
        transition: all 0.5s; }
      .section__meals--showcase-foto img:hover {
        transform: scale(1.1);
        opacity: 1; }

/* ***** SECTION STEPS ***** */
.section__steps {
  background-color: #f4f4f4; }
  .section__steps--app-screen {
    width: 40%; }
    @media only screen and (max-width: 1023px) {
      .section__steps--app-screen {
        width: 50%; } }
    @media only screen and (max-width: 767px) {
      .section__steps--app-screen {
        width: 50%; } }
  .section__steps-work--step {
    margin-bottom: 50px; }
    @media only screen and (max-width: 767px) {
      .section__steps-work--step {
        margin-bottom: 20px; } }
    .section__steps-work--step:last-of-type {
      font-size: 18px; }
      @media only screen and (max-width: 767px) {
        .section__steps-work--step:last-of-type {
          margin-bottom: 20px; } }
  .section__steps-circle {
    border: 2px solid #e67e22;
    border-radius: 50%;
    color: #e67e22;
    display: inline-block;
    font-size: 150%;
    float: left;
    height: 55px;
    margin-right: 25px;
    text-align: center;
    padding: 5px;
    width: 55px; }
    @media only screen and (max-width: 767px) {
      .section__steps-circle {
        height: 40px;
        width: 40px;
        margin-right: 15px;
        padding: 4px;
        font-size: 120%; } }

@media only screen and (max-width: 1023px) {
  .steps-box {
    margin-top: 10px; } }

.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px; }
  @media only screen and (max-width: 767px) {
    .steps-box:first-child {
      text-align: center; } }

.steps-box:last-child {
  padding-left: 3%;
  margin-top: 70px; }
  @media only screen and (max-width: 1023px) {
    .steps-box:last-child {
      margin-top: 10px; } }

.btn-app img {
  height: 50px;
  margin-left: 10px;
  width: auto;
  border-radius: 10px; }
  @media only screen and (max-width: 480px) {
    .btn-app img {
      height: 38px; } }

@media only screen and (max-width: 767px) {
  .app__bottons {
    text-align: center; } }

.city__features {
  margin-bottom: 5px; }
  @media only screen and (max-width: 1023px) {
    .city__features {
      font-size: 90%; } }
  @media only screen and (max-width: 1023px) and (max-width: 480px) {
    .city__features {
      font-size: 95%; } }
  .city__features--img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    opacity: 1; }
  .city__features--logo {
    display: inline-block;
    color: #e67e22;
    margin-right: 10px;
    text-align: center;
    line-height: 120%;
    width: 30px;
    margin-top: -5px; }
    @media only screen and (max-width: 1023px) {
      .city__features--logo {
        width: 17px;
        margin-right: 5px; } }
  .city__features--link {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    transition: all 0.2s; }
    .city__features--link:link,
    .city__features--link :visited {
      color: #e67e22; }
    .city__features--link:hover,
    .city__features--link :active {
      color: #555;
      border-bottom: none; }

.section__testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/back-customers-min.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff; }
  @media only screen and (max-width: 480px) {
    .section__testimonials {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/back-customers-mobile.jpg); } }
  .section__testimonials--img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle; }
    @media only screen and (max-width: 480px) {
      .section__testimonials--img {
        height: 50px; } }

.cite {
  font-size: 90%;
  margin-top: 25px;
  display: block; }
  @media only screen and (max-width: 480px) {
    .cite {
      font-size: 94%; } }

.blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px; }
  .blockquote::before {
    content: "\201c";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px; }

.section__plans {
  background-color: #f4f4f4; }

.plan__box {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  width: 90%;
  margin-left: 5px; }
  @media only screen and (max-width: 1023px) {
    .plan__box {
      width: 100%;
      margin-left: 0%; } }
  .plan__box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8; }
  @media only screen and (max-width: 767px) {
    .plan__box div:first-child {
      text-align: center; } }
  .plan__box div:last-child {
    text-align: center;
    border: 0; }
  .plan__box-price {
    color: #e67e22;
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100; }
    @media only screen and (max-width: 1023px) {
      .plan__box-price {
        font-size: 250%; } }
    @media only screen and (max-width: 480px) {
      .plan__box-price {
        font-size: 290%; } }
    .plan__box-price span {
      font-size: 30%;
      font-weight: 300; }
  .plan__box-meal {
    font-size: 80%; }
    @media only screen and (max-width: 480px) {
      .plan__box-meal {
        font-size: 85%; } }
  .plan__box-icon {
    color: #e67e22;
    display: inline-block;
    font-size: 120%;
    margin-right: 10px;
    margin-top: -5px;
    text-align: center;
    line-height: 120%;
    vertical-align: middle;
    width: 30px; }
  .plan__box-list {
    list-style: none;
    padding: 5px 0; }
    @media only screen and (max-width: 767px) {
      .plan__box-list {
        margin: auto;
        width: 57%; } }
    @media only screen and (max-width: 480px) {
      .plan__box-list {
        margin: auto;
        width: 74%; } }
    .plan__box-list li {
      padding: 5px 0; }

.primium {
  background-color: #fcfcfcb0; }

.contact__form {
  margin: 0 auto;
  width: 60%; }
  @media only screen and (max-width: 1023px) {
    .contact__form {
      width: 80%; } }
  @media only screen and (max-width: 767px) {
    .contact__form {
      width: 100%; } }

input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: medium; }
  @media only screen and (max-width: 480px) {
    input[type=text],
    input[type=email],
    select,
    textarea {
      margin: 10px; } }

textarea {
  height: 100px; }

input[type=checkbox] {
  margin: 10px 5px 10px 0; }
  @media only screen and (max-width: 480px) {
    input[type=checkbox] {
      margin: 12px 7px 12px 0; } }

*:focus {
  outline: none; }
