.heading__secondary {
  position: relative;
  text-transform: uppercase;
  color: #e2ca7b;
  font-size: 2.2em;
  font-weight: 400;
  letter-spacing: 3px;
  padding: 70px 0 30px 88px; }
  .heading__secondary:before {
    content: attr(data-text);
    position: absolute;
    top: 48%;
    left: 2.4%;
    font-size: 1.1em;
    color: #1a1a1a;
    pointer-events: none; }
  .heading__secondary:after {
    position: absolute;
    content: "";
    top: 87%;
    left: 6%;
    width: 3%;
    height: 2px;
    background-color: #fff; }

.heading__terceary {
  font-size: 1.7em;
  text-transform: uppercase;
  color: #e2ca7b;
  letter-spacing: 1.8px;
  font-weight: 400; }

.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  z-index: -8; }

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(1.2);
  transition: all 2s ease-in-out; }
  .slide__content {
    position: absolute;
    color: #fff;
    background-color: rgba(14, 4, 4, 0.699);
    padding: 30px 30px 30px 60px;
    bottom: 70px;
    left: -600px;
    opacity: 0;
    font-weight: 200;
    line-height: 1.5;
    letter-spacing: 1.2;
    width: 600px; }
    .slide__content h1 {
      margin-bottom: 10px;
      color: #e2ca7b;
      font-weight: 400; }
  .slide.current {
    opacity: 1;
    transform: scale(1); }
  .slide.current .slide__content {
    opacity: 1;
    transform: translateX(600px);
    transition: all 0.7s ease-in-out 0.9s; }
  .slide:first-child {
    background: url(../img/EasterSunrise-min.jpg) no-repeat center center/cover; }
  .slide:nth-child(2) {
    background: url(../img/EasterSunset-min.JPEG) no-repeat center center/cover; }
  .slide:nth-child(3) {
    background: url(../img/TheTowers-min.jpg) no-repeat center center/cover; }
  .slide:nth-child(4) {
    background: url(../img/ChasingDusk-min.jpg) no-repeat center center/cover; }
  .slide:nth-child(5) {
    background: url(../img/img5.jpg) no-repeat center center/cover; }
  .slide__buttons button {
    border: 2px solid #e2ca7b;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 50%;
    outline: none;
    transition: all .2s; }
    .slide__buttons button:hover {
      background-color: #fff;
      color: #333; }
  .slide__buttons button#next {
    position: absolute;
    top: 50%;
    right: 15px; }
  .slide__buttons button#prev {
    position: absolute;
    top: 50%;
    left: 15px; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif; }

.mg-lb-lg {
  margin: 0 0 50px 77px; }

.mg-bottom-lg {
  margin-bottom: 90px; }

.mg-bottom-sm {
  margin-bottom: 15px; }

.mg-top-lg {
  margin-top: 80px; }

.align-right {
  text-align: right; }

.li-dots-right {
  direction: rtl;
  unicode-bidi: embed; }

.grey {
  color: #a6a6a6; }

.black {
  color: #000000; }

.long-horizontal img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%; }

.long-vertical img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 37%; }

.main__nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  background-color: rgba(14, 4, 4, 0.788);
  box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  justify-content: space-between;
  align-items: center; }
  .main__nav .logo {
    position: relative;
    font-size: 1.4em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    margin-left: 40px;
    color: #e2ca7b; }

.nav {
  position: relative;
  display: flex;
  font-size: 14px; }
  .nav__item {
    list-style: none; }
  .nav__link {
    position: relative;
    display: inline-block;
    margin-right: 40px;
    text-decoration: none;
    font-size: 1em;
    color: #e2ca7b;
    font-weight: 300;
    text-transform: uppercase;
    transition: all .4s; }
    .nav__link:before {
      content: '';
      width: 0;
      height: 2px;
      margin-top: 30px;
      background-color: #e2ca7b;
      position: absolute;
      top: 100%;
      left: 0; }
    .nav__link:hover {
      color: #5b5b5b; }

.nav__item:hover .nav__link:before {
  width: 100%;
  transition: .5s; }

.active {
  color: #fff; }

.social__icons a {
  color: #e2ca7b;
  font-size: 1.2em; }
  .social__icons a:last-child {
    margin-right: 40px;
    margin-left: 8px; }
  .social__icons a:hover {
    color: #fff; }

.sticky {
  position: fixed;
  background: rgba(14, 4, 4, 0.699);
  animation-name: stick;
  animation-duration: .4s;
  animation-timing-function: ease;
  transition: background-color 1000ms ease-out;
  transition-delay: 125ms;
  z-index: 99; }

.section__about {
  background-color: #000000; }

.about {
  display: flex;
  margin-left: 50px;
  margin-top: 17px;
  /* ABOUT IMG REVEALING ON SCROLL */ }
  .about__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    padding: 40px 40px 20px 40px;
    line-height: 1.5;
    font-weight: 200;
    font-size: 1.1em;
    letter-spacing: 1.2px;
    color: #a6a6a6; }
  .about__name {
    line-height: 1.2;
    text-transform: uppercase;
    margin-top: 45px;
    align-self: right;
    text-align: right; }
    .about__name p {
      letter-spacing: none;
      font-size: .8em;
      letter-spacing: 1.2px;
      font-weight: 400; }
  .about__photo img {
    position: relative;
    top: -190px;
    left: 50px;
    width: 80%;
    display: inline-block;
    transition: 1s;
    filter: brightness(0.2); }
  .about__photo-js img {
    position: relative;
    top: -190px;
    left: 50px;
    width: 80%;
    display: inline-block;
    transition: 1s;
    filter: brightness(1); }

/* **********  TIMELINE VERTICAL RULER ***********/
.cv {
  background-image: linear-gradient(black, rgba(14, 4, 4, 0.9)), url(../img/mountain-min.jpg);
  background-size: cover;
  background-repeat: none; }

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: -150px; }
  .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #e2ca7b;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px; }
  .timeline h2 {
    color: #e2ca7b;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-weight: 400; }
  .timeline h3 {
    color: #fff; }

/* CONTAINER AROUND CONTENT */
.container {
  padding: 0 40px;
  position: relative;
  padding-bottom: 40px;
  background-color: inherit;
  width: 43.5%;
  /* DOTS ON TIMELINE */ }
  .container::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    right: -5px;
    background-color: #e2ca7b;
    border: 2px solid #e2ca7b;
    top: 20px;
    border-radius: 50%;
    z-index: 1; }

/* PLACE CONTAINER TO THE LEFT */
.left {
  left: 0; }

/* PLACE CONTAINER TO THE right */
.right {
  left: 49.7%; }

/* FIX DOT ON THE RIGHT SIDE*/
.right::after {
  left: -7px; }

/* CONTENT */
.content {
  padding: 20px 30px;
  position: relative;
  border-radius: 6px;
  font-weight: 300;
  color: #a6a6a6; }
  .content ul {
    margin: 5px 0 0 20px; }
  .content li:not(:last-child) {
    margin-bottom: 5px; }

.mentors__box {
  margin-left: 55px;
  margin-top: 80px; }
  .mentors__box h2 {
    color: #fff; }

.mentor {
  color: #e2ca7b;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 1px; }

.section__art {
  background-color: #ecd99f; }

.frame {
  background-color: #ddc;
  border: solid 5vmin #eee;
  border-bottom-color: #fff;
  border-left-color: #eee;
  border-radius: 2px;
  border-right-color: #eee;
  border-top-color: #ddd;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: inline-block;
  padding: 4vmin;
  position: relative;
  text-align: center; }
  .frame:before {
    border-radius: 2px;
    bottom: -2vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
    content: "";
    left: -2vmin;
    position: absolute;
    right: -2vmin;
    top: -2vmin; }
  .frame:after {
    border-radius: 2px;
    bottom: -2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    content: "";
    left: -2.5vmin;
    position: absolute;
    right: -2.5vmin;
    top: -2.5vmin; }

.gallery {
  background: #000000;
  padding: 200px 0 150px 0; }

#overlay {
  display: none;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: .7; }

.gallery__row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 8px; }

/* Create four equal columns that sits next to each other */
.gallery__content {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  overflow: hidden;
  object-fit: contain; }

.box {
  padding-top: 8px; }

.thumbnail {
  position: relative;
  cursor: pointer;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000000; }
  .thumbnail:hover .read-more {
    opacity: 1; }
  .thumbnail-img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    opacity: 0.7;
    transition: all 0.5s; }
    .thumbnail-img:hover {
      transform: scale(1.1);
      opacity: 1; }
    .thumbnail-img .read-more {
      opacity: 1; }

.read-more {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border: 2px solid #fff;
  color: #fff;
  padding: 16px;
  opacity: 0;
  transition: all .75s;
  text-transform: uppercase; }
  .read-more:hover {
    opacity: 1; }

/* Responsive layout - makes a two.gallery__content-layout instead of four.gallery__contents */
@media screen and (max-width: 800px) {
  .gallery__content {
    flex: 50%;
    max-width: 50%; } }

/* Responsive layout - makes the two.gallery__contents stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .gallery__content {
    flex: 100%;
    max-width: 100%; } }

.modal {
  background-color: #f6f5ee;
  display: none;
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95vw;
  max-width: 1300px;
  height: 95vh;
  overflow-y: auto;
  border-radius: 5px;
  animation: top-to-down .5s;
  animation-fill-mode: forwards; }

.close {
  position: absolute;
  top: 20px;
  right: 40px;
  color: #000000;
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer; }
  .close:hover {
    color: #e2ca7b; }

.modal-content {
  padding: 0 1rem; }
  .modal-content img {
    position: absolute;
    width: 45%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block; }
