.heading__primary {
  display: inline-block;
  text-transform: uppercase;
  color: #e2ca7b;
  font-size: 2.2em;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 0 0 30px 88px; }
  .heading__primary:after {
    position: absolute;
    content: "";
    top: 115%;
    left: 6.7%;
    width: 40px;
    height: 2px;
    background-color: #e2ca7b; }

.heading__secondary {
  font-size: 1.7em;
  text-transform: uppercase;
  color: #e2ca7b;
  letter-spacing: 1.8px;
  font-weight: 400; }

.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  z-index: -8; }

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out; }
  .slide__content {
    position: absolute;
    color: #fff;
    background-color: rgba(14, 4, 4, 0.699);
    padding: 30px;
    bottom: 70px;
    left: -600px;
    opacity: 0;
    font-weight: 200;
    line-height: 1.5;
    letter-spacing: 1.2;
    width: 600px; }
    .slide__content h1 {
      margin-bottom: 10px;
      color: #e2ca7b;
      font-weight: 400; }
  .slide.current {
    opacity: 1; }
  .slide.current .slide__content {
    opacity: 1;
    transform: translateX(600px);
    transition: all 0.7s ease-in-out 0.2s; }
  .slide:first-child {
    background: url(../img/EasterSunrise-min.jpg) no-repeat center center/cover; }
  .slide:nth-child(2) {
    background: url(../img/EasterSunset-min.JPEG) no-repeat center center/cover; }
  .slide:nth-child(3) {
    background: url(../img/TheTowers-min.jpg) no-repeat center center/cover; }
  .slide:nth-child(4) {
    background: url(../img/ChasingDusk-min.jpg) no-repeat center center/cover; }
  .slide:nth-child(5) {
    background: url(../img/img5.jpg) no-repeat center center/cover; }
  .slide__buttons button {
    border: 2px solid #e2ca7b;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 50%;
    outline: none;
    transition: all .2s; }
    .slide__buttons button:hover {
      background-color: #fff;
      color: #333; }
  .slide__buttons button#next {
    position: absolute;
    top: 50%;
    right: 15px; }
  .slide__buttons button#prev {
    position: absolute;
    top: 50%;
    left: 15px; }

@media (max-width: 500px) {
  .slide .slide__content {
    bottom: -300px;
    left: 0;
    width: 100%; }
  .slide.current .slide__content {
    transform: translateY(-300px); } }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  font-family: "Roboto", sans-serif; }

.mg-lb-lg {
  margin: 0 0 87px 77px; }

.main__nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  background-color: rgba(14, 4, 4, 0.788);
  overflow: hidden;
  justify-content: space-between;
  align-items: center; }
  .main__nav .logo {
    position: relative;
    font-size: 1.4em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    margin-left: 40px;
    color: #e2ca7b; }

.nav {
  position: relative;
  display: flex;
  font-size: 14px; }
  .nav__item {
    list-style: none; }
  .nav__link {
    position: relative;
    display: inline-block;
    margin-right: 40px;
    text-decoration: none;
    font-size: 1em;
    color: #e2ca7b;
    font-weight: 300;
    text-transform: uppercase;
    transition: all .4s; }
    .nav__link:before {
      content: '';
      width: 0;
      height: 2px;
      margin-top: 5px;
      background-color: #e2ca7b;
      position: absolute;
      top: 100%;
      left: 0; }
    .nav__link:hover {
      color: #a6a6a6; }

.nav__item:hover .nav__link:before {
  width: 50%;
  transform: translatex(100%);
  transition: .5s; }

.active {
  color: #fff; }

.social__icons a {
  color: #e2ca7b;
  font-size: 1.4em; }
  .social__icons a:last-child {
    margin-right: 40px;
    margin-left: 8px; }
  .social__icons a:hover {
    color: #fff; }

.scroll {
  position: absolute;
  top: 80%;
  left: 94%;
  transform: translate(0, 0) rotate(270deg); }
  .scroll p {
    font-weight: 300;
    color: #e2ca7b;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 7px; }
  .scroll::after {
    content: '';
    position: absolute;
    bottom: 40%;
    left: -60%;
    width: 40px;
    height: 1px;
    background-color: #e2ca7b; }

.section__about {
  padding: 60px 0 50px 0;
  background-color: #000000; }

.about {
  display: flex;
  margin-left: 50px; }
  .about__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    padding: 40px 40px 20px 40px;
    line-height: 1.6;
    font-weight: 200;
    font-size: 1.2em;
    letter-spacing: 1.2px;
    color: #a6a6a6; }
  .about__name {
    line-height: 1.2;
    text-transform: uppercase;
    margin-top: 45px;
    align-self: right;
    text-align: right; }
    .about__name p {
      letter-spacing: none;
      font-size: .8em;
      letter-spacing: 1.4px;
      font-weight: 400; }
  .about__photo img {
    position: relative;
    top: -67px;
    left: 0;
    width: 100%;
    display: inline-block; }

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto; }
  .timeline h2 {
    color: #e2ca7b;
    margin-bottom: 10px; }
  .timeline h3 {
    color: #5b5b5b; }

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 3px;
  background-color: #e2ca7b;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px; }

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 43.5%; }

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  right: -5px;
  background-color: #000000;
  border: 2px solid #e2ca7b;
  top: 20px;
  border-radius: 50%;
  z-index: 1; }

/* Place the container to the left */
.left {
  left: 0; }

/* Place the container to the right */
.right {
  left: 49.7%; }

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white; }

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent; }

/* Fix the circle for containers on the right side */
.right::after {
  left: -7px; }

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: #fff;
  position: relative;
  border-radius: 6px;
  color: #5b5b5b;
  font-weight: 400; }
  .content ul {
    margin: 10px 0 0 20px; }
  .content li :first-child {
    margin-bottom: 30px; }

.mentor {
  color: #5b5b5b;
  font-weight: 700; }
