.heading__secondary {
  position: relative;
  text-transform: uppercase;
  color: #e2ca7b;
  font-size: 2.2em;
  font-weight: 400;
  letter-spacing: 3px;
  padding: 70px 0 30px 88px; }
  .heading__secondary:before {
    content: attr(data-text);
    position: absolute;
    top: 48%;
    left: 2.4%;
    font-size: 1.1em;
    color: #333333;
    pointer-events: none; }
  .heading__secondary:after {
    position: absolute;
    content: "";
    top: 87%;
    left: 7%;
    width: 4%;
    height: 2px;
    background-color: #a6a6a6; }

.heading__terceary {
  font-size: 1.7em;
  text-transform: uppercase;
  color: #e2ca7b;
  letter-spacing: 1.8px;
  font-weight: 400; }

.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  z-index: -8; }

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(1.2);
  transition: all 2s ease-in-out; }
  .slide__content {
    position: absolute;
    color: #fff;
    background-color: rgba(14, 4, 4, 0.699);
    padding: 30px 30px 30px 60px;
    bottom: 70px;
    left: -600px;
    opacity: 0;
    font-weight: 200;
    line-height: 1.5;
    letter-spacing: 1.2;
    width: 600px; }
    .slide__content h1 {
      margin-bottom: 10px;
      color: #e2ca7b;
      font-weight: 400; }
  .slide.current {
    opacity: 1;
    transform: scale(1); }
  .slide.current .slide__content {
    opacity: 1;
    transform: translateX(600px);
    transition: all 0.7s ease-in-out 0.9s; }
  .slide:first-child {
    background: url(../img/EasterSunrise-min.jpg) no-repeat center center/cover; }
  .slide:nth-child(2) {
    background: url(../img/EasterSunset-min.JPEG) no-repeat center center/cover; }
  .slide:nth-child(3) {
    background: url(../img/TheTowers-min.jpg) no-repeat center center/cover; }
  .slide:nth-child(4) {
    background: url(../img/ChasingDusk-min.jpg) no-repeat center center/cover; }
  .slide:nth-child(5) {
    background: url(../img/img5.jpg) no-repeat center center/cover; }
  .slide__buttons button {
    border: 2px solid #e2ca7b;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 50%;
    outline: none;
    transition: all .2s; }
    .slide__buttons button:hover {
      background-color: #fff;
      color: #333; }
  .slide__buttons button#next {
    position: absolute;
    top: 50%;
    right: 15px; }
  .slide__buttons button#prev {
    position: absolute;
    top: 50%;
    left: 15px; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden; }

.mg-lb-lg {
  margin: 0 0 50px 77px; }

.mg-bottom-lg {
  margin-bottom: 90px; }

.mg-bottom-sm {
  margin-bottom: 15px; }

.mg-top-lg {
  margin-top: 80px; }

.align-right {
  text-align: right; }

.li-dots-right {
  direction: rtl;
  unicode-bidi: embed; }

.grey {
  color: #a6a6a6; }

.black {
  color: #000000; }

.main__nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  background-color: rgba(14, 4, 4, 0.788);
  box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  justify-content: space-between;
  align-items: center; }
  .main__nav .logo {
    position: relative;
    font-size: 1.4em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    margin-left: 40px;
    color: #e2ca7b; }

.nav {
  position: relative;
  display: flex;
  font-size: 14px; }
  .nav__item {
    list-style: none; }
  .nav__link {
    position: relative;
    display: inline-block;
    margin-right: 40px;
    text-decoration: none;
    font-size: 1em;
    color: #e2ca7b;
    font-weight: 300;
    text-transform: uppercase;
    transition: all .4s; }
    .nav__link:before {
      content: '';
      width: 0;
      height: 2px;
      margin-top: 30px;
      background-color: #e2ca7b;
      position: absolute;
      top: 100%;
      left: 0; }
    .nav__link:hover {
      color: #5b5b5b; }

.nav__item:hover .nav__link:before {
  width: 100%;
  transition: .5s; }

.active {
  color: #fff; }

.social__icons a {
  color: #e2ca7b;
  font-size: 1.2em; }
  .social__icons a:last-child {
    margin-right: 40px;
    margin-left: 8px; }
  .social__icons a:hover {
    color: #fff; }

.scroll {
  position: absolute;
  top: 80%;
  left: 94%;
  transform: translate(0, 0) rotate(270deg); }
  .scroll p {
    font-weight: 300;
    color: #e2ca7b;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 7px; }
  .scroll::after {
    content: '';
    position: absolute;
    bottom: 40%;
    left: -60%;
    width: 40px;
    height: 1px;
    background-color: #e2ca7b; }

.section__about {
  background-color: #000000; }

.about {
  display: flex;
  margin-left: 50px;
  margin-top: 17px;
  /* ABOUT IMG REVEALING ON SCROLL */ }
  .about__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;
    padding: 40px 40px 20px 40px;
    line-height: 1.5;
    font-weight: 200;
    font-size: 1.1em;
    letter-spacing: 1.2px;
    color: #a6a6a6; }
  .about__name {
    line-height: 1.2;
    text-transform: uppercase;
    margin-top: 45px;
    align-self: right;
    text-align: right; }
    .about__name p {
      letter-spacing: none;
      font-size: .8em;
      letter-spacing: 1.2px;
      font-weight: 400; }
  .about__photo img {
    position: relative;
    top: -120px;
    left: 0;
    width: 90%;
    display: inline-block;
    transition: 1s;
    filter: brightness(0.2); }
  .about__photo-js img {
    position: relative;
    top: -120px;
    left: 0;
    width: 90%;
    display: inline-block;
    transition: 1s;
    filter: brightness(1); }

/* **********  TIMELINE VERTICAL RULER ***********/
.cv {
  background-image: linear-gradient(black, rgba(14, 4, 4, 0.7)), url(../img/mountain-min.jpg);
  background-size: cover;
  background-repeat: none; }

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto; }
  .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #e2ca7b;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px; }
  .timeline h2 {
    color: #e2ca7b;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-weight: 400; }
  .timeline h3 {
    color: #fff; }

/* CONTAINER AROUND CONTENT */
.container {
  padding: 0 40px;
  position: relative;
  padding-bottom: 40px;
  background-color: inherit;
  width: 43.5%;
  /* DOTS ON TIMELINE */ }
  .container::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    right: -5px;
    background-color: #e2ca7b;
    border: 2px solid #e2ca7b;
    top: 20px;
    border-radius: 50%;
    z-index: 1; }

/* PLACE CONTAINER TO THE LEFT */
.left {
  left: 0; }

/* PLACE CONTAINER TO THE right */
.right {
  left: 49.7%; }

/* FIX DOT ON THE RIGHT SIDE*/
.right::after {
  left: -7px; }

/* CONTENT */
.content {
  padding: 20px 30px;
  position: relative;
  border-radius: 6px;
  font-weight: 300;
  color: #a6a6a6; }
  .content ul {
    margin: 5px 0 0 20px; }
  .content li:not(:last-child) {
    margin-bottom: 5px; }

.mentors__box {
  margin-left: 55px;
  margin-top: 30px;
  overflow: hidden; }
  .mentors__box h2 {
    color: #fff; }

.mentor {
  color: #e2ca7b;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 1px; }

.section__art {
  background: linear-gradient(to right, #000000 45%, #000000 45%, #e2ca7b 20%, #e2ca7b 50%);
  background-color: #ecd99f; }

.art__img {
  border: solid 2px;
  border-bottom-color: #ffe;
  border-left-color: #eed;
  border-right-color: #eed;
  border-top-color: #ccb;
  max-height: 100%;
  max-width: 100%; }

.frame {
  background-color: #ddc;
  border: solid 5vmin #eee;
  border-radius: 2px;
  border-color: #22130c;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: inline-block;
  margin: 10vh 10vw;
  height: auto;
  padding: 2.5vmin;
  position: relative;
  text-align: center; }
  .frame:before {
    border-radius: 2px;
    bottom: -2vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
    content: "";
    left: -2vmin;
    position: absolute;
    right: -2vmin;
    top: -2vmin; }
  .frame:after {
    border-radius: 2px;
    bottom: -2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    content: "";
    left: -2.5vmin;
    position: absolute;
    right: -2.5vmin;
    top: -2.5vmin; }

.art__slider {
  padding-bottom: 200px; }

.slider-wrapper {
  position: relative;
  display: flex;
  margin-left: 15vw; }

.slide-content {
  display: flex; }

.slide-description {
  color: #5b5b5b;
  width: 28vw;
  padding: 5vw 30vw 0 10vw; }

.slide-image {
  height: 35vw; }

.slide-image img {
  width: 35vw;
  cursor: pointer;
  display: inline-block; }

.slide-date {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1.4px;
  padding-bottom: 10px; }

.slide-text {
  font-size: 1em;
  line-height: inherit;
  padding-bottom: 40px; }

.slide-nav {
  margin-left: 64vw;
  margin-top: -5.5vw; }

.arrows {
  width: 3.5vw;
  position: absolute;
  left: 87%;
  top: 173%; }

.arrow {
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 25px;
  background: transparent;
  text-indent: -9999px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transition: all .1s ease-in-out;
  text-decoration: none;
  color: transparent; }

.arrow:hover {
  border-color: #5b5b5b;
  border-width: 3px; }

.arrow:before {
  display: block;
  height: 200%;
  width: 200%;
  margin-left: -50%;
  margin-top: -50%;
  content: "";
  transform: rotate(45deg); }

.arrow.prev {
  transform: rotate(-45deg);
  right: 120%; }

.arrow.next {
  transform: rotate(135deg);
  right: 0; }

.popup {
  position: relative;
  right: 40%;
  background-color: cornflowerblue;
  height: 100vh;
  width: 90%; }

.popup__img img {
  width: 100%; }

.popup__link {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #fff; }

.popup__close:link,
.popup__close:visited {
  color: #000000;
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 3.5rem;
  text-decoration: none;
  display: inline-block;
  transition: all .2s;
  line-height: 1;
  z-index: 110; }

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center; }

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0; }

.overlay:target {
  visibility: visible;
  opacity: 1; }

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out; }

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333; }

.popup .close:hover {
  color: #06D85F; }

.popup .content {
  max-height: 30%;
  overflow: auto; }

.section__contact {
  background-color: #000000; }
